<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modeSerializerClassic</key>
    <string>LuckyExtractFrameAnalyze</string>
    <key>primeFill</key>
    <string>CreatorDecentManagerCache</string>
    <key>firthMoveFactory</key>
    <string>CanyonCollectionStructureAgile</string>
    <key>threatDropDefineModest</key>
    <string>SaveOffsetBeside</string>
    <key>decoratorDebugWitty</key>
    <string>CivicListenerSupply</string>
    <key>managerOakenRest</key>
    <string>FetchCleanPolicy</string>
    <key>enumUrchinMeasuredFix</key>
    <string>BlockStatusSearchUp</string>
    <key>bundleCommand</key>
    <string>IdleThornPackHarbor</string>
    <key>unityAlongsideTaskGroup</key>
    <string>ShowForceArrayFirth</string>
    <key>gulfUpAdapter</key>
    <string>DramaticPhoenixDeviceEngine</string>
</dict>
</plist>
