<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>startToolTrueLedger</key>
    <string>PromiseEmberRecord</string>
    <key>releasePetite</key>
    <string>ViewGrowingBrokerLogic</string>
    <key>livelyBeside</key>
    <string>TestPerformFormalWait</string>
    <key>duskGetStackGlorious</key>
    <string>ThenGracefulProvider</string>
    <key>calculateStateScopeComposite</key>
    <string>SpiritBeginZealousFilter</string>
    <key>beneathSaverCrest</key>
    <string>SequenceFromTulip</string>
    <key>generateWorthyJasperGroup</key>
    <string>MagicalBrief</string>
    <key>coolUpdate</key>
    <string>LoaderWarmOver</string>
    <key>frameTargetVictorious</key>
    <string>RichFolderDialogPlush</string>
</dict>
</plist>
