<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>setVesselOverTarget</key>
    <string>AdapterContinueMedia</string>
    <key>relayModule</key>
    <string>ImportDebugPristineValuable</string>
</dict>
</plist>
