<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>firmConnect</key>
    <string>ProviderHandleAssetBlend</string>
    <key>royalFormatMountain</key>
    <string>EngineAgentTenseInstance</string>
    <key>stackProviderPushPositive</key>
    <string>OutsideCalculateArrayScene</string>
    <key>typeSharpBeginResponse</key>
    <string>SoundHelix</string>
    <key>engineInletVocalParse</key>
    <string>RemoveZippyUnder</string>
    <key>assignCoherentFaithful</key>
    <string>RegionBesideYoung</string>
</dict>
</plist>
