<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modernPeakCache</key>
    <string>ResetPackAlongsideOwnerIntense</string>
    <key>commandKindredUp</key>
    <string>OutsideLawfulFix</string>
    <key>outputConvertValidator</key>
    <string>ListCacheWinterCelestial</string>
    <key>decentFromFactoryYoung</key>
    <string>TargetAboveSereneConvert</string>
</dict>
</plist>
