<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>boardRobustEngineDraw</key>
    <string>DarkThroughBind</string>
    <key>submitSimpleCollection</key>
    <string>HideTryContinueThroughout</string>
    <key>inCreatorFeasibleJungle</key>
    <string>WriteContinueTo</string>
    <key>loaderSearchEqual</key>
    <string>EndNotableConvertTurn</string>
    <key>showAmple</key>
    <string>OriginalEnableForward</string>
</dict>
</plist>
