<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>parseBasePleased</key>
    <string>DurableAmidPrimeTribe</string>
    <key>verifyHelperHandy</key>
    <string>CacheSwirlExquisiteProxy</string>
    <key>kindTheory</key>
    <string>KeyInsideLineIdeal</string>
    <key>commandMild</key>
    <string>VitalVerifyObserverBeyond</string>
    <key>storyStackGladContinue</key>
    <string>WithRadiantModelWatch</string>
    <key>vineEthereal</key>
    <string>TimerAccelerateEarthReference</string>
</dict>
</plist>
