<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>analyzeFairyProtocol</key>
    <string>FilterDirectHandleSegment</string>
    <key>leafOutsideToolEnergetic</key>
    <string>OpenCompareHive</string>
    <key>definedUpdate</key>
    <string>PauseFromTransformableReady</string>
    <key>mightyAgentAppend</key>
    <string>AdapterRavenShareModule</string>
    <key>bonnyExact</key>
    <string>InsertCalmPacificConnect</string>
    <key>keenCounterEnd</key>
    <string>MildAlongReadVision</string>
    <key>folderAttachVisitorHarmless</key>
    <string>ResumeDaintyAssignContainerSurge</string>
    <key>parseGoodEnumResilient</key>
    <string>ConnectFaintCommand</string>
    <key>thoroughTransformableHeightRegister</key>
    <string>OceanAccountCommand</string>
</dict>
</plist>
