<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dataSourceCompatible</key>
    <string>FirmWirelessShadow</string>
    <key>toolMindful</key>
    <string>HandlerSlideVastJudicious</string>
    <key>onShadeGloriousTransformable</key>
    <string>SubmitFacadeDelicate</string>
    <key>throughDistantDelegateStep</key>
    <string>TrackDigitalFindWild</string>
    <key>ofLoaderDurableTemple</key>
    <string>InterpreterSystematicReceivePackageDialog</string>
    <key>returnOrnate</key>
    <string>CalculateQueueExtract</string>
    <key>brokerGenerous</key>
    <string>PaintAmongBetween</string>
    <key>magicalCommand</key>
    <string>HandleResumeCompare</string>
</dict>
</plist>
