<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>hivePassiveHideFilter</key>
    <string>MoveTheme</string>
    <key>reliefAppendDominantStack</key>
    <string>FetchMarkCliff</string>
    <key>exactVine</key>
    <string>DeliverAmidGlacier</string>
    <key>nobleArraySurgeDrop</key>
    <string>IvoryHazeValidate</string>
    <key>stackConnect</key>
    <string>ReleaseTargetReturn</string>
    <key>nativeBeneathInstanceZenith</key>
    <string>SternBuildTrend</string>
    <key>driverPrintRealOwner</key>
    <string>NatureMatrixVigorous</string>
    <key>braveOpen</key>
    <string>ManagerDuskWrite</string>
    <key>afterCreator</key>
    <string>LayerSplitSuper</string>
    <key>atRareCodec</key>
    <string>CleanTruthUpCascade</string>
</dict>
</plist>
