<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tryOakenDesertManager</key>
    <string>ReceiveHolyEncode</string>
    <key>enableNativeUpward</key>
    <string>DivineIntoBeginTorch</string>
    <key>improvedCreatorMagicInsert</key>
    <string>ReferenceProviderMinimal</string>
    <key>groupTransitSplitFaithful</key>
    <string>ControllerOrnateWatch</string>
    <key>toFond</key>
    <string>InstanceDropCancelDataSourceGroup</string>
    <key>compatibleIdleRefreshLively</key>
    <string>CreatorTableSharpBy</string>
    <key>waterBefore</key>
    <string>AnalyzeMineSplendidBoundOutput</string>
</dict>
</plist>
