<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>loaderOffChartJust</key>
    <string>GardenAccelerateWaitNetwork</string>
    <key>behindMeasuredReference</key>
    <string>GiftedAstuteWatch</string>
    <key>urbanePlay</key>
    <string>LoadWithoutType</string>
    <key>auroraDramatic</key>
    <string>WanderSnowDramaticDefine</string>
</dict>
</plist>
