<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alongsideManager</key>
    <string>DeliverComplexSkilled</string>
    <key>handlerTopHold</key>
    <string>InformationRestoreFormatter</string>
    <key>stackLucid</key>
    <string>EnableGentleOfThin</string>
    <key>displayThenPromptSuper</key>
    <string>LocalFixAgainst</string>
    <key>daleConnect</key>
    <string>UmbraWarmFree</string>
</dict>
</plist>
