<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>verifyRoyalAtlas</key>
    <string>PureLocal</string>
    <key>cancelDelegateFaintExact</key>
    <string>CommandLedge</string>
    <key>richFor</key>
    <string>WorthyRefreshSurgeRegister</string>
    <key>portalOrnate</key>
    <string>ContinueSubmitTryFontCentral</string>
    <key>setDecisiveDecent</key>
    <string>EndSmoothWithout</string>
    <key>aboveWorthNeutralProvider</key>
    <string>ManagerUniversalCancelWatch</string>
    <key>submitTrue</key>
    <string>AcceptFactoryVerify</string>
</dict>
</plist>
