<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>validatorResetModule</key>
    <string>StoreFillWiseRound</string>
    <key>openPlace</key>
    <string>DuringSoundThen</string>
    <key>againstInterpreterTactfulOwl</key>
    <string>ViaHeightHandy</string>
    <key>pristinePluginControllerAccept</key>
    <string>ShowPageExtractSetBase</string>
    <key>vitalCliffAttach</key>
    <string>StrategyParseShowAttachThroughout</string>
    <key>adapterRead</key>
    <string>ViewDarkWary</string>
    <key>fixProvision</key>
    <string>CreatorValidateFlora</string>
    <key>braveImageList</key>
    <string>ListenerEventBeyond</string>
</dict>
</plist>
