<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dataSourceTrustyWithoutStair</key>
    <string>NovelFetchFast</string>
    <key>checkWayValidatorEnergetic</key>
    <string>ExtensionPlazaStack</string>
    <key>beforeSmartCollectionPlugin</key>
    <string>TruthChiefSky</string>
    <key>moveWiseHandlerStretch</key>
    <string>TargetMistZenith</string>
    <key>petalBindDefine</key>
    <string>ForwardTagCoordinator</string>
    <key>decoderParseBuilderStern</key>
    <string>ManageGoodBeginImport</string>
</dict>
</plist>
