<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>duringDispatcher</key>
    <string>GlobeStepModifyAtlas</string>
    <key>controllerVisibleWreath</key>
    <string>SoftDeviceFacadePureShow</string>
    <key>strongBlock</key>
    <string>SerializerShellWait</string>
    <key>strategyFixForceful</key>
    <string>AroundHideCreator</string>
    <key>modifyStepDeserializer</key>
    <string>SilentRegisterAbundant</string>
    <key>formatterTool</key>
    <string>FairSlideMoveDrop</string>
    <key>acceptDigital</key>
    <string>DownHandlerAccurateAcross</string>
    <key>civicHelperPlain</key>
    <string>FetchDownWaryBonny</string>
</dict>
</plist>
