<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>typeAfterRobust</key>
    <string>ComplexPointGenerate</string>
    <key>policyExecuteGravePool</key>
    <string>ConnectDashboardMoveCleanDistant</string>
    <key>moorCheck</key>
    <string>HeaderMoveSharp</string>
    <key>waryToModel</key>
    <string>ShowPlanetTreat</string>
</dict>
</plist>
