<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>agileHandle</key>
    <string>PlayfulRemoveDecodeIntimate</string>
    <key>earthAppendSaverAdvanced</key>
    <string>RusticCompositeDense</string>
    <key>magicalHeaderBeacon</key>
    <string>BuilderShowGorgeCacheType</string>
    <key>royalSaveValidatorSnow</key>
    <string>SaverCheckBuild</string>
    <key>toTargetSpiceVictorious</key>
    <string>SpaceStartReservoir</string>
    <key>freeOwner</key>
    <string>LaneAdapterDigital</string>
</dict>
</plist>
