<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tenseCodec</key>
    <string>RefreshOnyxStack</string>
    <key>saverJadeIntense</key>
    <string>VigorousAudioImplement</string>
    <key>subtleSource</key>
    <string>SaverHeaderSubmit</string>
    <key>luckyWithoutAgentGentle</key>
    <string>CalmStoryPack</string>
    <key>decodeManagerDramaticBlock</key>
    <string>UponInitialDraw</string>
    <key>coordinatorRemoveKnownClient</key>
    <string>CancelQuick</string>
    <key>decodeMightyJudiciousObserver</key>
    <string>PeacefulGroupTideIntuitive</string>
    <key>graveUnderObvious</key>
    <string>InstanceShow</string>
    <key>freeDataSourceSecureAccept</key>
    <string>TenseStoreOrigin</string>
    <key>growingBravePool</key>
    <string>BrokerLogicInsertKindred</string>
</dict>
</plist>
