<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>toolKindred</key>
    <string>MergePassageObserver</string>
    <key>silentBehind</key>
    <string>SafeViaTrend</string>
    <key>goodClose</key>
    <string>HideClassicDenseImage</string>
    <key>processVine</key>
    <string>TypeSolarClean</string>
    <key>deserializerCalmProperConvert</key>
    <string>CodecRoundBuilderFeature</string>
    <key>displayPieceControllerPeaceful</key>
    <string>AdapterDecodeDisplay</string>
    <key>nascentPaint</key>
    <string>MountainPastPush</string>
    <key>waryModel</key>
    <string>MapDebugPleased</string>
    <key>thenAfter</key>
    <string>BoundDebugThenAcceptKeeper</string>
</dict>
</plist>
