<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>managerApplyCompact</key>
    <string>ContainerWork</string>
    <key>initializeCreatorExport</key>
    <string>UpCheckThroughout</string>
    <key>stopObserverGlobal</key>
    <string>VictoriousInstanceEarnest</string>
    <key>stackCleanDiamond</key>
    <string>JasperCacheUnderAround</string>
    <key>roundPortCreator</key>
    <string>HelperMarkWreath</string>
    <key>refreshUrbaneAdapter</key>
    <string>WinsomeConnectFix</string>
    <key>advancedMarkProvider</key>
    <string>ConnectCanvasRemoveInstanceBind</string>
    <key>delegateValidate</key>
    <string>TryElementInformation</string>
    <key>importQuirkAdeptDefine</key>
    <string>MessageThenYieldingEnd</string>
    <key>provisionPrimalMap</key>
    <string>ExpertMapClean</string>
</dict>
</plist>
