<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>skillShow</key>
    <string>DropShowEngineFair</string>
    <key>poolValleyWithVast</key>
    <string>VoyageWait</string>
    <key>cleanStack</key>
    <string>RestChainFactory</string>
    <key>engineWidePast</key>
    <string>PrairieLoadPausePrint</string>
    <key>keeperHeaderVividExtract</key>
    <string>MutualSelectDigital</string>
    <key>releaseSphere</key>
    <string>AgainstToolComplex</string>
    <key>overAdapterChart</key>
    <string>FillHeaderInStart</string>
</dict>
</plist>
