<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viaCompatibleWaryAgent</key>
    <string>BoldThenLedge</string>
    <key>mapBaseMystic</key>
    <string>GraciousEngineBinary</string>
    <key>idealDelegate</key>
    <string>AmberCleanSplendidClean</string>
</dict>
</plist>
