<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>provisionHolyMapTool</key>
    <string>ObjectUrchinManagerVolume</string>
    <key>offFilterAlcove</key>
    <string>JourneyAttachSerializerAngle</string>
    <key>listPack</key>
    <string>ReplaceReplace</string>
    <key>strongDirectProtocolPaint</key>
    <string>TransitMinimalFitTreat</string>
</dict>
</plist>
