<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>listZestfulAccept</key>
    <string>BesideDirectKeenApply</string>
    <key>compatibleSelectMightyRow</key>
    <string>DetectTransformableMove</string>
    <key>litheCache</key>
    <string>PoolRoundOrnateMark</string>
    <key>distinctShowAmberDefine</key>
    <string>ModelTrackWirelessDrop</string>
    <key>extraRemove</key>
    <string>BelowObserverArrayBright</string>
    <key>warmManagerSaveReady</key>
    <string>ReferenceTopPlazaAnalyze</string>
    <key>aroundPetite</key>
    <string>ElmMovePauseWood</string>
    <key>loaderWallAccurate</key>
    <string>CrystalControlIdealHeader</string>
    <key>fileLeanConvert</key>
    <string>FillLogicSuper</string>
</dict>
</plist>
