<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>crispPrimeAttach</key>
    <string>HelperConvertFix</string>
    <key>abstractLegacyBetweenFacade</key>
    <string>AssetHelperHelperFit</string>
    <key>formatterUnder</key>
    <string>FrostBetweenFor</string>
    <key>playfulDelegateMake</key>
    <string>LocalHarmonic</string>
</dict>
</plist>
