<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stopOddStrategy</key>
    <string>PerformLocalBeginEngineView</string>
    <key>localReferenceRemoveUmbra</key>
    <string>ViaHandlerManager</string>
    <key>withoutEminentRealmCoordinator</key>
    <string>CrownProvisionFormatSerializer</string>
    <key>prairieMagicalToolFrom</key>
    <string>GloriousInsideTrackVibrantAccelerate</string>
    <key>controllerHardy</key>
    <string>EndDelegate</string>
    <key>ontoView</key>
    <string>PoplarBelowTorchRest</string>
</dict>
</plist>
