<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>simpleBrave</key>
    <string>UnderAlertWing</string>
    <key>transformableToolOfMain</key>
    <string>ModelTreeHiveWisdom</string>
    <key>aroundHeightListDiscrete</key>
    <string>PlaceCanyonMediatorMighty</string>
    <key>baseDramaticTestWorth</key>
    <string>NearThenThenTall</string>
    <key>clearJoyfulFilter</key>
    <string>KindredApplyCache</string>
    <key>tallDecoratorShape</key>
    <string>ConsoleCompatibleParseDecodeBrief</string>
</dict>
</plist>
