<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>boldWhole</key>
    <string>ReportCalmCacheAgainst</string>
    <key>denseWary</key>
    <string>ToChasmDrawLargePlay</string>
    <key>moduleTrackLegacyReady</key>
    <string>ShadeGenericToGlobal</string>
    <key>saverZenithSimpleReceive</key>
    <string>MildPortraitAnalyze</string>
    <key>warmAurora</key>
    <string>BelowMultiplyProviderExtract</string>
</dict>
</plist>
