<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>localFormatter</key>
    <string>OutsideLoader</string>
    <key>overBraveDataSource</key>
    <string>ReceiveFacadeSortReceive</string>
    <key>acuteFieldNearSerializer</key>
    <string>LinkTopGlobalFacade</string>
    <key>blitheShowStable</key>
    <string>SunIntoHealthy</string>
    <key>cleanLogicInstance</key>
    <string>ListSendSubmitStrategy</string>
    <key>judiciousOwner</key>
    <string>RobustParseUnit</string>
    <key>intimateSerializer</key>
    <string>ViaStayAlongsideProxyGarden</string>
</dict>
</plist>
