<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cacheContainerGentle</key>
    <string>InstanceLogDataSourceState</string>
    <key>splendidCollectionTrigger</key>
    <string>RefreshSelectMark</string>
    <key>yieldingProxy</key>
    <string>JubilantUtilitySlice</string>
    <key>plushHelperAbove</key>
    <string>DecoratorBehindCache</string>
</dict>
</plist>
