<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alongSite</key>
    <string>HandlePushUnder</string>
    <key>headerQuietSolution</key>
    <string>ScrollLimitReplace</string>
    <key>ringInstanceLoose</key>
    <string>DefineWarmAgainstImplement</string>
    <key>civicVisionToolAt</key>
    <string>BuilderOwnerDown</string>
</dict>
</plist>
