<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>containerCompareStay</key>
    <string>MediatorInZenithHandle</string>
    <key>accelerateBuilderLightCycle</key>
    <string>MapUltimateSwirl</string>
    <key>toolBeginFlash</key>
    <string>ListProviderLight</string>
    <key>informationTrack</key>
    <string>ViewDataSourceNearBetweenTiny</string>
    <key>controllerGoodThroughoutGateway</key>
    <string>TaskCarefulLucky</string>
    <key>printAgentUpward</key>
    <string>DuskAcceptFix</string>
    <key>promptContainer</key>
    <string>ManagerExecutePoolGentle</string>
</dict>
</plist>
