<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modelBackupLitheReceive</key>
    <string>SubmitBeginObserver</string>
    <key>controlDelegateSendHardy</key>
    <string>NorthEncodeHoldManager</string>
    <key>styleDispatcherUpdate</key>
    <string>AlongCollectionDefine</string>
    <key>justProvider</key>
    <string>TrainAgainstText</string>
    <key>storeInitial</key>
    <string>ImmenseCanyonShowPositive</string>
    <key>closeCreatorShowDurable</key>
    <string>AlongRouteAgileImage</string>
</dict>
</plist>
