<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classBraveUnique</key>
    <string>AttachStormCleanQuickSpice</string>
    <key>bonnyDecorator</key>
    <string>EnumNovelBetween</string>
    <key>thickHandle</key>
    <string>InEncodeInvitingTool</string>
    <key>radiantAgent</key>
    <string>BelowSternLine</string>
</dict>
</plist>
