<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classOverPure</key>
    <string>DiscreteDaintyAbyssEngine</string>
    <key>decoratorToSpot</key>
    <string>DiamondFormatterChart</string>
    <key>adapterBeneathSmartQueue</key>
    <string>CrestTreasurePleasedInstance</string>
    <key>toolRoundCodec</key>
    <string>TallControllerMoorCoordinatorUniversal</string>
    <key>dataSourcePlugin</key>
    <string>CryptHandleValidatorExact</string>
    <key>dropDispatcherAbleDelta</key>
    <string>FilterLoaderDown</string>
</dict>
</plist>
