<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tinyCompatibleFormatEvent</key>
    <string>RoundThenGloriousPool</string>
    <key>balancedAcross</key>
    <string>TargetPlainRareVia</string>
    <key>makeType</key>
    <string>PleasantExtensionLoaderBrowser</string>
    <key>commandGroupRare</key>
    <string>ReferenceTagRelease</string>
    <key>whiteInvitingPaint</key>
    <string>DefineDuringMake</string>
    <key>domainCleanOwner</key>
    <string>VibrantBeneathSyncHumane</string>
    <key>blitheFontContainer</key>
    <string>TameTest</string>
</dict>
</plist>
