<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>carefulInside</key>
    <string>WithReadDrop</string>
    <key>quietDeserializerGladeSearch</key>
    <string>SupplyDecoratorFeatureCompact</string>
    <key>zephyrCalmBeginDefine</key>
    <string>GladExactNearCheck</string>
    <key>fetchStripe</key>
    <string>AstuteStarEnergetic</string>
    <key>formatterContainerBy</key>
    <string>AddInterpreterRational</string>
</dict>
</plist>
