<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>blockVisitorHumaneBetween</key>
    <string>FitTruthAccelerate</string>
    <key>fetchSharp</key>
    <string>SilentSlideByRidge</string>
    <key>stopExportHandler</key>
    <string>WreathFixTranquil</string>
    <key>dataSourceWithinNativeElement</key>
    <string>MajorExtensionFind</string>
    <key>strategySoundHaze</key>
    <string>DrawProtocolAppend</string>
</dict>
</plist>
