<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>windowFilter</key>
    <string>TypePassageAlongsidePlatformAssign</string>
    <key>withinStackBoard</key>
    <string>AppendRealBackup</string>
    <key>simpleForThicket</key>
    <string>BlockTallHelperAfterFetch</string>
    <key>preciousFor</key>
    <string>PositiveLoadImplement</string>
    <key>pacificAlongsideHeader</key>
    <string>CoordinatorStack</string>
</dict>
</plist>
