<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>acceleratePoolFeasible</key>
    <string>FillRusticDebug</string>
    <key>spaceVictoriousAccelerateProtocol</key>
    <string>RemoveIndexTrack</string>
    <key>digitalImplementOutside</key>
    <string>PoolInterpreterLuckyIn</string>
    <key>factoryScan</key>
    <string>ClearWealthRegisterAccelerate</string>
    <key>brilliantHelperExpert</key>
    <string>GoodAssignFinish</string>
</dict>
</plist>
