<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>quietBasinContainerShow</key>
    <string>DirectStoreSiteList</string>
    <key>lucidLeapTargetWait</key>
    <string>ChannelObserverTrail</string>
    <key>royalAppend</key>
    <string>BlitheHeroicProxyLightAgainst</string>
    <key>agentWithDaleBrave</key>
    <string>InstanceUniqueHoldRound</string>
    <key>classAfterTerrain</key>
    <string>VictoriousViewReal</string>
    <key>spiritTrustedBehind</key>
    <string>ReleaseDryEnd</string>
    <key>alertList</key>
    <string>ImprovedViaAgentInsert</string>
    <key>giganticViewAgainst</key>
    <string>ContainerModelHazeBrowser</string>
</dict>
</plist>
