<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>baseModelWrite</key>
    <string>PlayAlongside</string>
    <key>bambooGladInside</key>
    <string>GlobeEngineBonnyDecorator</string>
    <key>properBindImplementSupply</key>
    <string>InMakeSacred</string>
    <key>tenderHelperRadiant</key>
    <string>AcrossExtra</string>
    <key>groupContinue</key>
    <string>ToolWaveValidate</string>
</dict>
</plist>
