<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>detectLeanEarth</key>
    <string>ControllerBaseTagSplit</string>
    <key>objectDominantDelegate</key>
    <string>SaveThreadLoad</string>
    <key>bySupply</key>
    <string>MediatorOffDecisive</string>
    <key>steadyAlongCompatibleHill</key>
    <string>LiberalWithVoyageTall</string>
    <key>compatibleProperPrecious</key>
    <string>WorldReferenceCreatorDashboard</string>
    <key>typeRemoteModernHold</key>
    <string>HardyFallsBraveAlongside</string>
    <key>poolOrnateGraph</key>
    <string>FaintVisitorLightZenith</string>
    <key>compareHandlerModern</key>
    <string>GroupToolSegment</string>
    <key>factoryScope</key>
    <string>VerifyExtensionExtensionUrchin</string>
    <key>pristineTransformableFontUntil</key>
    <string>ModuleVividFormatAdd</string>
</dict>
</plist>
