<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>northReceiveReliable</key>
    <string>DuskDropHardyEmber</string>
    <key>facadeBehindUnityWeb</key>
    <string>BetweenPlainAlongFast</string>
    <key>thickCollectionPauseForest</key>
    <string>MajorConvertListTower</string>
    <key>viableDeep</key>
    <string>SaverReplaceBlitheOutput</string>
    <key>groupUpgradeRecordHeroic</key>
    <string>ControllerHelixBind</string>
    <key>dropHolistic</key>
    <string>WebAmberClearWealthy</string>
</dict>
</plist>
