<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>languageRoundHastyCreator</key>
    <string>StripeAtUmbra</string>
    <key>againstWorld</key>
    <string>CommandIntuitiveFormatter</string>
    <key>rusticMarkDebug</key>
    <string>WatchMultiplyOver</string>
    <key>quickLotus</key>
    <string>PortWarmCairn</string>
    <key>oasisCacheSharpBeyond</key>
    <string>RestSpriteDefinePassage</string>
    <key>softProtocolUtmostTo</key>
    <string>WithinRecordLogManager</string>
    <key>factoryEndFirthTame</key>
    <string>JungleGroupSoftSoft</string>
    <key>listTrue</key>
    <string>FixMediatorCollection</string>
</dict>
</plist>
