<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>addInterpreterVineLocal</key>
    <string>StoreStrategyWithout</string>
    <key>valueMainDecoratorImport</key>
    <string>PoolRoyalDefine</string>
    <key>knollProcess</key>
    <string>ChartFreeUnderRead</string>
    <key>firmBrokerPlayIntense</key>
    <string>CalmAttachTerseJewel</string>
    <key>viaModuleSleek</key>
    <string>UpdateTenderDefined</string>
</dict>
</plist>
