<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>simpleCoordinatorAmong</key>
    <string>RowBonnyClear</string>
    <key>trustedWorldOfTool</key>
    <string>GroupDarkContinueTool</string>
    <key>promptDetect</key>
    <string>SnowObserverAlertTry</string>
    <key>fontTargetWiseReturn</key>
    <string>HeaderLoaderDecentAdapter</string>
    <key>assignExact</key>
    <string>StarFondDuringBrisk</string>
    <key>defineAmpleMode</key>
    <string>GladWaryAgent</string>
</dict>
</plist>
