<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stopRichValidatorMighty</key>
    <string>MineSessionRecord</string>
    <key>engineStrongSystematic</key>
    <string>CacheAdapterReplaceSystematic</string>
    <key>binaryFeasibleInterpreter</key>
    <string>RadiantElementMindCool</string>
    <key>portCollection</key>
    <string>CollectionSpaceRelease</string>
    <key>arrayPlayLoose</key>
    <string>SetDebugForest</string>
    <key>convertPositionProxyNeat</key>
    <string>PixelBeginMerry</string>
    <key>levelReferenceSerene</key>
    <string>CacheWithRemoveCreator</string>
    <key>heroicMerry</key>
    <string>GlobalPleasedPastVia</string>
</dict>
</plist>
