<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>replaceTableInitial</key>
    <string>InstanceDecentAt</string>
    <key>subtleMountainDecorator</key>
    <string>RareRoundModifyMap</string>
    <key>sharpHardy</key>
    <string>TrackPeakUrbanAcrossScript</string>
    <key>holyFill</key>
    <string>GroupReferenceSaver</string>
    <key>insideAgentGrand</key>
    <string>GlacierCommandLoadSteam</string>
    <key>daintySaveBrokerGate</key>
    <string>BeforeSaverCommand</string>
    <key>dualValidator</key>
    <string>CommandProviderByProcessWeb</string>
    <key>playPlainReliefProxy</key>
    <string>SplashClearAgainstBeyond</string>
    <key>eliteFactorySetWall</key>
    <string>HeroicNeatDynamicFactory</string>
    <key>expertInsertCache</key>
    <string>PauseDistinctAmong</string>
</dict>
</plist>
