<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>applyTargetFastOrnate</key>
    <string>LanguagePlatformCreate</string>
    <key>cycleFacade</key>
    <string>BraveDrawReplace</string>
</dict>
</plist>
