<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>canyonViewHarmonic</key>
    <string>BesideSoftThorough</string>
    <key>passiveCompactModule</key>
    <string>MatchAssignGenuineBeside</string>
    <key>plushAmid</key>
    <string>PaintTrackTest</string>
    <key>dispatcherFreshSplendid</key>
    <string>GlobeProcessKnack</string>
    <key>buoyantGenuine</key>
    <string>MarkCompactConvert</string>
    <key>observerAngle</key>
    <string>MagicPrimalLock</string>
    <key>managerPlayDirect</key>
    <string>ThroughoutFix</string>
</dict>
</plist>
