<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>offsetCreateBroadHandler</key>
    <string>InformationNativeFactoryBetween</string>
    <key>moveValidatorTextCelestial</key>
    <string>UnitMatchBeyond</string>
    <key>peakJovialObserver</key>
    <string>VaporGroupThick</string>
    <key>intenseMediator</key>
    <string>ModifyHoldReflect</string>
</dict>
</plist>
