<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>coordinatorBrightCareful</key>
    <string>ReportMuseGlobalHandler</string>
    <key>runBold</key>
    <string>RunDurableSereneDuring</string>
    <key>thicketFree</key>
    <string>CoralDomeOnHill</string>
    <key>deliverKindredBase</key>
    <string>SpiceTempleMerge</string>
    <key>duneThick</key>
    <string>WinterClearJasperGenerateReference</string>
    <key>counterThinBindInterpreter</key>
    <string>KeenWildTool</string>
    <key>keenPaintHandler</key>
    <string>GuideInsideSweetLog</string>
    <key>firthNovel</key>
    <string>TransformableLoaderApply</string>
    <key>overSenseOnAdapter</key>
    <string>PortCoordinatorAbstract</string>
</dict>
</plist>
