<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>insideRoyalHelper</key>
    <string>FlameDiscreteHandle</string>
    <key>sendValuableClass</key>
    <string>ToolBlitheGroupTimely</string>
    <key>registerStrategyVibrantOver</key>
    <string>SimpleRealmDecent</string>
    <key>brightInterpreterCascade</key>
    <string>ExquisiteViewDualFlora</string>
    <key>dispatcherExpertMoveZestful</key>
    <string>MemoryCommandApplyCareful</string>
    <key>grandManager</key>
    <string>EnableCompareTerrainShadow</string>
    <key>proudContainerDataSourceOnto</key>
    <string>FormatterOutsideAtRemove</string>
    <key>woodBrilliantMake</key>
    <string>SteadyGorgeAbove</string>
    <key>brokerProcessEasy</key>
    <string>EliteCleverHideTool</string>
</dict>
</plist>
