<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>controllerVocal</key>
    <string>CompareDetectSilent</string>
    <key>ownerSummitResumeOriginal</key>
    <string>MixerBonnyIn</string>
    <key>zippyExecuteExotic</key>
    <string>AlongsideReadWaitPaintModify</string>
    <key>fairCompare</key>
    <string>ProviderHeaderShow</string>
    <key>commandWinterWireless</key>
    <string>SoundFactoryPortraitValidate</string>
    <key>parseHelper</key>
    <string>BeginBuilder</string>
    <key>submitEarthTransformable</key>
    <string>OutsideLegacyNoble</string>
</dict>
</plist>
