<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ontoPleasant</key>
    <string>DynamicReservoirVia</string>
    <key>dataSourceWait</key>
    <string>CleanMakeMineSync</string>
    <key>dramaticJewel</key>
    <string>DrawBlitheClass</string>
    <key>collectionLeap</key>
    <string>LevelGetLuminousSupply</string>
    <key>poolConsoleSelect</key>
    <string>OpenManagerOddProvider</string>
</dict>
</plist>
