<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rangeGroup</key>
    <string>MapDuringView</string>
    <key>factoryTerseAdd</key>
    <string>VineImplementPack</string>
    <key>friendlyDeserializerJade</key>
    <string>FirmSilverProviderView</string>
    <key>stripeFindProvider</key>
    <string>StackProtectDawnForceful</string>
    <key>briefHandler</key>
    <string>UnderPastLibrary</string>
    <key>observerKeen</key>
    <string>HonestPoolPristineOverNovel</string>
</dict>
</plist>
