<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>crestDigitalClassAmid</key>
    <string>NectarBesideAlong</string>
    <key>jadeHelper</key>
    <string>ProxySimpleBehind</string>
    <key>collectionFeatureUp</key>
    <string>ToolByThen</string>
    <key>strategyJustLaunchBlithe</key>
    <string>BehindSaverCancelFirm</string>
    <key>humaneToDeserializerScale</key>
    <string>ClearSignalDialogWarm</string>
    <key>tinyFilterBehind</key>
    <string>HealthyStateSlideCompatible</string>
    <key>luckyFormatterKindAccelerate</key>
    <string>PausePauseEarthOpen</string>
    <key>firmAnalyze</key>
    <string>ExtractInsertSend</string>
</dict>
</plist>
