<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>majorStackMakeCompatible</key>
    <string>OverStoreVerse</string>
    <key>multiplyGarden</key>
    <string>TorchMultiplyAgainstOutside</string>
    <key>positiveCacheAngleApply</key>
    <string>SmartWithinShellCreator</string>
    <key>joyfulNear</key>
    <string>LandGladMark</string>
    <key>pleasantHubPerformEngine</key>
    <string>ExactClassicOwner</string>
    <key>ownerPeaceful</key>
    <string>DecodePassiveFieldScroll</string>
</dict>
</plist>
