<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>deserializerPearl</key>
    <string>AlongsideWildHandleGenerous</string>
    <key>playExactMighty</key>
    <string>CompareMutualFormatter</string>
    <key>coordinatorInside</key>
    <string>SternFetchHistoryNature</string>
    <key>mindDecoratorDarkCache</key>
    <string>AtImplementModuleProxy</string>
    <key>towardAlertEngine</key>
    <string>VisitorBrainPower</string>
</dict>
</plist>
