<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>adapterMerry</key>
    <string>ValidatorDeserializerLevelLoader</string>
    <key>wisdomHarmless</key>
    <string>LoadUntilGuideTool</string>
    <key>poolPlayRichSteel</key>
    <string>NectarBeneathCoordinatorWell</string>
    <key>chasmCancelPlayful</key>
    <string>OakenDialogThrough</string>
    <key>cacheBonnyChasmOpen</key>
    <string>AroundViewFaithfulFactory</string>
    <key>fetchEndQuick</key>
    <string>MediatorDataSource</string>
    <key>byGracefulTool</key>
    <string>ThoroughExtensionPrintExact</string>
    <key>enumReleaseInfiniteTower</key>
    <string>FluentZippyMeasuredKeeper</string>
    <key>skillProtocolContinueZestful</key>
    <string>ThemeMixerFastView</string>
</dict>
</plist>
