<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sortResponseIntuitiveArray</key>
    <string>QuintessentialSaveCacheSlate</string>
    <key>convertDramaticTypeJasper</key>
    <string>PlanetQueryHold</string>
    <key>belowEngineBareWing</key>
    <string>RemoveRoundConnect</string>
    <key>afterZippyIslandCache</key>
    <string>TimeDataSourceViewSplit</string>
    <key>logicalNearManager</key>
    <string>AttachRadiantCalm</string>
    <key>besideDispatcherInvitingUrchin</key>
    <string>VolumeObjectPackageIn</string>
    <key>legacyProvider</key>
    <string>DuringReleaseDeserializerBonny</string>
    <key>vastVastCloseController</key>
    <string>ParseBeneathStrategyMoveGenerate</string>
    <key>serializerReset</key>
    <string>FormatCoordinatorCompatible</string>
</dict>
</plist>
