<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>generateMajorOwner</key>
    <string>GoodSphereBuilderRelease</string>
    <key>withMainMediator</key>
    <string>ShowWisdomOn</string>
    <key>removeSite</key>
    <string>KineticQuillFormalDefine</string>
    <key>engineRoute</key>
    <string>DecoratorCreatorLotus</string>
    <key>sternRestStackDown</key>
    <string>CanyonUrbanePackageFaint</string>
    <key>vastBriskSaverUnder</key>
    <string>CancelFondDebug</string>
</dict>
</plist>
