<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ridgeOwnerTender</key>
    <string>SetPackOptionBoldSupply</string>
    <key>engineSharpMarkProvider</key>
    <string>BuoyantBindVirtuous</string>
    <key>gatewayRegister</key>
    <string>MediatorAcceptHideReplace</string>
</dict>
</plist>
