<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compatibleRecord</key>
    <string>BraveModelNectarMemory</string>
    <key>writeMighty</key>
    <string>ParseCleanDetect</string>
    <key>judiciousProxyUponPearl</key>
    <string>SandFastPushDefine</string>
    <key>backupSerializerCompare</key>
    <string>WaterDelegateByBackup</string>
    <key>targetOriginalMatch</key>
    <string>SaveSteelEnd</string>
</dict>
</plist>
