<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>returnOwnerLawfulBundle</key>
    <string>QuillBasic</string>
    <key>upwardExtractMobile</key>
    <string>AcrossRegisterFormatExotic</string>
    <key>providerMinimalSearchStatus</key>
    <string>TopWoodOntoGraph</string>
    <key>novelBuilderContinue</key>
    <string>StoreSteelChannel</string>
    <key>triumphReference</key>
    <string>FirmTheorySwiftJade</string>
    <key>beyondSkillRadiant</key>
    <string>RunFlowOpenVirtuous</string>
    <key>creatorAt</key>
    <string>EnumAdapterNearTool</string>
    <key>fillSleekTransformable</key>
    <string>ViaWalkClean</string>
</dict>
</plist>
