<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>privateModifyYardPool</key>
    <string>MobileSmartContainerOutside</string>
    <key>coordinatorFormatOpenInfinite</key>
    <string>FormatDurableJade</string>
    <key>leafLuminousEncodeProvider</key>
    <string>AuroraRobustGuide</string>
    <key>hardyStopWorth</key>
    <string>SnowFactoryExtract</string>
    <key>rateLoadControllerClear</key>
    <string>OverRainHeaven</string>
    <key>belowDelegateJoyfulDecisive</key>
    <string>BrookRoyalWayZestful</string>
</dict>
</plist>
