<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>chasmThenRegisterDurable</key>
    <string>UponCommandViewDual</string>
    <key>cavernContainerModify</key>
    <string>IdleObserverPromiseInterpreter</string>
    <key>nearCompatible</key>
    <string>WillowClearIntoLocal</string>
    <key>creatorOnto</key>
    <string>MonitorCacheRidgePack</string>
    <key>encodeFormatterAuthentic</key>
    <string>ProvisionWishCommand</string>
</dict>
</plist>
