<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>provisionVividWithin</key>
    <string>UpCalculateCheck</string>
    <key>boldAdapter</key>
    <string>BeneathNotableMagnetAcross</string>
    <key>modelDecentReplaceSpring</key>
    <string>RunUtmostDetectSilent</string>
    <key>pluginUrbaneRoundCommand</key>
    <string>RecordSet</string>
</dict>
</plist>
