<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beyondTable</key>
    <string>OpenWittyPlay</string>
    <key>ownerFormalBeneathTunnel</key>
    <string>SkyYoungTest</string>
    <key>compositeTowardPowerState</key>
    <string>StrategyDuneIvory</string>
    <key>extensionMapChief</key>
    <string>FindHostDiscreteDeliver</string>
    <key>decoratorOdd</key>
    <string>JasperFixLakeRaven</string>
    <key>helperDense</key>
    <string>StayEndFor</string>
</dict>
</plist>
