<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>elegantFactoryBy</key>
    <string>CalmSignalScroll</string>
    <key>clearReceiveProtocol</key>
    <string>ModeAtlasCalculateSubtleBeneath</string>
    <key>browserOverOdd</key>
    <string>GenuineReceiveAbundant</string>
</dict>
</plist>
