<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pauseVisitorLightSpace</key>
    <string>AppendManagerProtectAmid</string>
    <key>vineAlongToolProud</key>
    <string>TargetFlora</string>
    <key>sortGreatManager</key>
    <string>RestoreStayWithinWorth</string>
</dict>
</plist>
