<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>landConvertCreator</key>
    <string>ProxyViaConnectDataSource</string>
    <key>listInTranquilGrave</key>
    <string>UpdateLakeImport</string>
    <key>formatterDigitalBeneath</key>
    <string>AgentSlipRecordSpeakSplit</string>
    <key>controllerImmense</key>
    <string>ArrayNetworkConvert</string>
</dict>
</plist>
