<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>setLightView</key>
    <string>ProxySaveWorthyTiny</string>
    <key>ownerWindInMain</key>
    <string>BetweenDisplayPureBrookWitty</string>
    <key>addSplendidPoolState</key>
    <string>PushLoaderTunnelText</string>
    <key>buildLandHardyState</key>
    <string>TorchDivineInfinite</string>
</dict>
</plist>
