<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modifyAcuteHandler</key>
    <string>CleanOnyxAgileStrike</string>
    <key>extensionSync</key>
    <string>SubmitScopeImport</string>
    <key>listExecute</key>
    <string>SetPageIntimateVoyageBeyond</string>
    <key>protocolCascadeInsert</key>
    <string>ReferenceDuneCompare</string>
    <key>enumOpenTactful</key>
    <string>LoadOptionAppendKineticWork</string>
    <key>cacheMatch</key>
    <string>HeathWildReceiveSummit</string>
    <key>cancelExact</key>
    <string>TrailVentureProud</string>
    <key>spaceType</key>
    <string>DeserializerRecordFormatEnd</string>
</dict>
</plist>
