<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>byModulePromptZippy</key>
    <string>BrokerBesideJoyful</string>
    <key>finishFlatStackAstute</key>
    <string>VolumeHideViewAgentObject</string>
    <key>interpreterWing</key>
    <string>VoiceSoftExecute</string>
    <key>resumeBuoyantLotus</key>
    <string>ViewAgainstLoyal</string>
    <key>cacheIdleBelowHistory</key>
    <string>SymbolDropTimelyDeserializer</string>
    <key>performFancy</key>
    <string>BlendResumeApply</string>
    <key>creatorSort</key>
    <string>AcceptHandleThrough</string>
    <key>knackAcrossDigital</key>
    <string>SortCoordinatorTypeCancel</string>
</dict>
</plist>
