<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>leanRemove</key>
    <string>VectorValidateMysticAttach</string>
    <key>baseStage</key>
    <string>HarmonicPleasantDecentCompact</string>
    <key>edgeBase</key>
    <string>KnollPlayRapids</string>
    <key>collectionFinishClearTall</key>
    <string>ReceiveVibrantHeaderDebug</string>
    <key>vividInitializeAgent</key>
    <string>TransformApplyFinishInsert</string>
</dict>
</plist>
