<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decoderModule</key>
    <string>FixMelodyBoundIntense</string>
    <key>simpleExpert</key>
    <string>PrintLedgeGrave</string>
    <key>sleekValueAdd</key>
    <string>PackRecordZenith</string>
    <key>proxyDecode</key>
    <string>PhoenixStormSliceStay</string>
</dict>
</plist>
