<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>factoryTransformIntense</key>
    <string>ClearRemoveStateStem</string>
    <key>durableFresh</key>
    <string>NativeFastGatewayCacheArray</string>
    <key>instanceSupremeWillowSave</key>
    <string>PushUmbraBy</string>
    <key>cachePackKeeper</key>
    <string>RegisterTestState</string>
</dict>
</plist>
