<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>getViewValid</key>
    <string>BeyondCompareWireless</string>
    <key>tryExtension</key>
    <string>HandyVigorousTrusty</string>
    <key>originalBrokerSourceInto</key>
    <string>AlongAcrossStateMind</string>
    <key>offTameEngine</key>
    <string>ControlDataSourceLight</string>
    <key>outerAppendHandler</key>
    <string>RoundMergePushSendEnd</string>
    <key>compactFlow</key>
    <string>BrokerSupremeAngleSplit</string>
    <key>collectionPlayWeb</key>
    <string>StoreDisplayWittyAccelerate</string>
    <key>zenithCenterStackBeside</key>
    <string>WalkUpdateGlobal</string>
    <key>jadeCalmFormatProxy</key>
    <string>SortTallModel</string>
    <key>modelSystematic</key>
    <string>SymbolGladReal</string>
</dict>
</plist>
