<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>eliteInterpreter</key>
    <string>AccessExpertAbyss</string>
    <key>validateLogicalNorth</key>
    <string>ForWithSpringData</string>
    <key>cacheHastyTransformable</key>
    <string>ShowStackSplit</string>
</dict>
</plist>
