<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>spotVerifyValidatorDense</key>
    <string>PearlHoly</string>
    <key>exquisiteLoad</key>
    <string>FinishAudioLeapOver</string>
    <key>optionHandler</key>
    <string>ProtectThroughoutCalmGlobal</string>
    <key>astuteHelper</key>
    <string>HardyPortMixerDataSource</string>
    <key>untilTypeThick</key>
    <string>FinishStackRemove</string>
    <key>humaneRoot</key>
    <string>PlayModifyNook</string>
    <key>providerOfFreshExotic</key>
    <string>HeroicDuringAcuteMighty</string>
    <key>readyProxyWindImport</key>
    <string>ThornBeginWitty</string>
    <key>decoderInsertHolyDelegate</key>
    <string>CoderSymbolMatchSubmit</string>
</dict>
</plist>
