<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>solidManagerAroundAngle</key>
    <string>DuringFetchUponSea</string>
    <key>properFactoryMerge</key>
    <string>DarkTowardCompatible</string>
    <key>treeOntoThorough</key>
    <string>ModernPauseTower</string>
    <key>reliableInstanceDetectSpeak</key>
    <string>SandRunNovelShape</string>
    <key>encodeReferencePeakHasty</key>
    <string>SandPaintClean</string>
    <key>assignBrain</key>
    <string>ObserverPolicySerializer</string>
</dict>
</plist>
