<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>planetAgentMature</key>
    <string>IslandResetPetiteIn</string>
    <key>cloudValidatorBind</key>
    <string>UponRestoreSubmitExact</string>
    <key>dropReferenceMemoryBuoyant</key>
    <string>AgentCrownDropWater</string>
    <key>daintyBuilderRegisterInto</key>
    <string>StartBrokerReplaceZealousGentle</string>
    <key>handlerDisplayDarkPrivate</key>
    <string>LogicTenseFile</string>
    <key>beneathPowerBroadArray</key>
    <string>OverExtensionHandle</string>
    <key>adapterBindDialogAdaptive</key>
    <string>FormatFormatResumeInstance</string>
</dict>
</plist>
