<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>updateHelperZestful</key>
    <string>SerializerOutsideHideBrief</string>
    <key>protocolSpiritSet</key>
    <string>NearAbundantUpward</string>
    <key>tranquilEngineRusticAfter</key>
    <string>SelectFinishHide</string>
    <key>harmonyMake</key>
    <string>DrawDetectAroundRunChart</string>
    <key>optimalSandWithin</key>
    <string>WaterSuperTool</string>
</dict>
</plist>
