<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>interpreterCloseMagic</key>
    <string>CacheOptimalStand</string>
    <key>checkBambooCompatiblePrecious</key>
    <string>TruthZealousPastSubmit</string>
    <key>realMediatorPixel</key>
    <string>SwirlLightDarkInsert</string>
</dict>
</plist>
