<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>humaneOf</key>
    <string>PrairieUntilBaseAgent</string>
    <key>compatibleJadeBoldStore</key>
    <string>FetchGravePieceSave</string>
    <key>extensionEndModern</key>
    <string>TowerTowardHeroicRound</string>
    <key>containerHastyGenerateLogic</key>
    <string>GlobeToolDistantTrigger</string>
    <key>bindAdaptiveBonny</key>
    <string>KeenRegisterThenMeadow</string>
</dict>
</plist>
