<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>scanRational</key>
    <string>WiseHavenRational</string>
    <key>pureEnableCacheInstance</key>
    <string>DeviceFirmFor</string>
    <key>modifyTrim</key>
    <string>BuoyantPassageColumn</string>
    <key>debugStyleProvider</key>
    <string>RusticCompactSubtlePetal</string>
    <key>dispatcherDefinedVolume</key>
    <string>HardDelegateModel</string>
    <key>containerGetSilverLean</key>
    <string>BridgeCreativeNatural</string>
    <key>listHumble</key>
    <string>SunnyArrayMystic</string>
    <key>dawnProtocolLarge</key>
    <string>PlanetBeneathBundleView</string>
    <key>viewNovel</key>
    <string>MelodyInterpreterSurfFixModify</string>
    <key>boldConnectCareful</key>
    <string>CommandModernDetectMerge</string>
</dict>
</plist>
