<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>amberControllerAccelerate</key>
    <string>FacadeListBelowVisitor</string>
    <key>requestBuilder</key>
    <string>SupremeInfinite</string>
    <key>pauseAdept</key>
    <string>ToDarkMainCleanScope</string>
    <key>ownerSpiceTest</key>
    <string>RestoreComplexRugged</string>
    <key>interpreterRealmPerformCrisp</key>
    <string>MergeCoder</string>
</dict>
</plist>
