<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>swirlUponManagerMain</key>
    <string>FixMarkStart</string>
    <key>duringCoordinatorOwl</key>
    <string>TransformHideFileLandscape</string>
    <key>actionSelect</key>
    <string>GloriousTrustCoral</string>
</dict>
</plist>
