<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>afterWise</key>
    <string>HoldPlanetTrim</string>
    <key>calmOnyxTestModel</key>
    <string>AlongsideWreathConnect</string>
    <key>afterGracefulHonestDelegate</key>
    <string>CanyonJunctionMakeLedger</string>
    <key>novelDispatcher</key>
    <string>LibraryAdapterAmber</string>
    <key>mergeLoader</key>
    <string>LoaderPureWholeLane</string>
    <key>dualTerrainObserver</key>
    <string>RoyalScopeMine</string>
    <key>nativeOver</key>
    <string>VineFreshCompatible</string>
    <key>greenCompatible</key>
    <string>UltimatePixelPast</string>
</dict>
</plist>
