<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>upwardViewTransform</key>
    <string>AnalyzeOriginFindGraph</string>
    <key>instancePerformReadyFlame</key>
    <string>StoryUniversalMountain</string>
    <key>expertTypeLogic</key>
    <string>SetHarmonicMain</string>
    <key>playNascentMine</key>
    <string>TestBrainDryStretch</string>
</dict>
</plist>
