<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>abstractControllerSpringTry</key>
    <string>ListNovelImportExecute</string>
    <key>formatPoolEstuary</key>
    <string>DaintyAssignPlatformTall</string>
    <key>extraAppend</key>
    <string>NearBindBeside</string>
    <key>acceptBrief</key>
    <string>AboveWithinIntoArray</string>
    <key>throughoutCoherent</key>
    <string>ResetAdapterClassRun</string>
    <key>forwardSimple</key>
    <string>BuoyantWhisper</string>
</dict>
</plist>
