<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>plainVessel</key>
    <string>HavenZoneStopClear</string>
    <key>compatibleEminentFalls</key>
    <string>BeneathSpeakHeader</string>
    <key>optimalReadRelayInterpreter</key>
    <string>CenterDefinedObserver</string>
    <key>luckyBuild</key>
    <string>WaitProtocolScale</string>
    <key>serializerBeyondSnowZestful</key>
    <string>DigitalVisitorEndless</string>
</dict>
</plist>
