<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>insideWorthy</key>
    <string>SuperSlateTeamGulf</string>
    <key>youngPauseHelper</key>
    <string>CacheSolutionCreatorIslandUpward</string>
    <key>beyondHelperCoderRich</key>
    <string>VastFineOwner</string>
    <key>fineRead</key>
    <string>RealPlushCrown</string>
    <key>proxyHarmonic</key>
    <string>InstanceAlongsideGenuineNovel</string>
    <key>starHarmonicMultiply</key>
    <string>SimplePlainOfReference</string>
</dict>
</plist>
