<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pauseWorthyDataSourceMemory</key>
    <string>FromThen</string>
    <key>hideTune</key>
    <string>TrainRegisterQuirkBuilderLock</string>
    <key>triumphCompositeModelAdd</key>
    <string>RefreshTransformableSense</string>
    <key>plushSelfDecodeProxy</key>
    <string>ValidateRadarBaseNovel</string>
    <key>untilPlushStateCommand</key>
    <string>UnderElmBuilderMighty</string>
</dict>
</plist>
