<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>besideWallFacade</key>
    <string>LockBuoyantPoolProfile</string>
    <key>denseDarkMoveReference</key>
    <string>OpenDecorator</string>
    <key>implementCompare</key>
    <string>BadgeSolarKeyBoard</string>
    <key>obviousExtension</key>
    <string>LeapLucentPlayClass</string>
</dict>
</plist>
