<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>roundPool</key>
    <string>SunOrchardSet</string>
    <key>overAmidLoader</key>
    <string>AtLitheMap</string>
    <key>transformableThickOfGrave</key>
    <string>AdaptivePlush</string>
    <key>liberalBuilderByPackage</key>
    <string>AnalyzeExquisiteFacade</string>
    <key>yardDecentBetweenLoader</key>
    <string>ToPieceGlacierAurora</string>
    <key>handleTrueStrategy</key>
    <string>WinsomeLakeFilterQuillPlain</string>
</dict>
</plist>
