<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beginChasmPoolUnique</key>
    <string>EngineWreathMobileComplex</string>
    <key>readSaverTacticSwift</key>
    <string>TreatSetResetAdapter</string>
    <key>resetInstanceScroll</key>
    <string>UpgradeRecordStrategy</string>
    <key>grandInstanceClear</key>
    <string>BetweenEndlessToolWealth</string>
    <key>spotAcrossSerializerOriginal</key>
    <string>StretchPoolHandlerExtra</string>
    <key>strategyTeamSweetGet</key>
    <string>PrimeKeeper</string>
</dict>
</plist>
