<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>softImportJudicious</key>
    <string>SetMarshGroup</string>
    <key>arrayMethodConnect</key>
    <string>ProviderCheckShare</string>
    <key>holisticCache</key>
    <string>OpenMobileJungleWalk</string>
    <key>honestDainty</key>
    <string>CalmBehindOwnerUmbra</string>
    <key>interpreterResilientFolderTrack</key>
    <string>ReflectMakeDelegateEntryPool</string>
    <key>solidOwnerPoplarAssign</key>
    <string>MatchStrategyMuse</string>
    <key>terseDeliver</key>
    <string>ThroughoutTargetCache</string>
</dict>
</plist>
