<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>clearPastGarden</key>
    <string>OuterCacheStrategyRoyal</string>
    <key>formatterProtectIn</key>
    <string>ModifyRowWithin</string>
    <key>dataSourceBesideTimerElegant</key>
    <string>LoadBetweenReservoir</string>
    <key>factoryFetchTiny</key>
    <string>UpdateExactWithPureSteel</string>
    <key>agentTranquilStageMatch</key>
    <string>SlipStyleExotic</string>
</dict>
</plist>
