<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>helperTallCalculate</key>
    <string>GraveBehindCompatibleIslandImmense</string>
    <key>transformableCompactEncode</key>
    <string>SymbolCollectionFormat</string>
    <key>vibrantDebugChief</key>
    <string>AmongVisitorTriumphStructure</string>
    <key>refinedStop</key>
    <string>EasyCleanTrain</string>
    <key>systemRoyalHandlerFind</key>
    <string>ProperMobileAdaptive</string>
    <key>roundSerializerAngleSimple</key>
    <string>LockToolFindNear</string>
</dict>
</plist>
