<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>helperRunOaken</key>
    <string>ReceiveCloseProviderSelect</string>
    <key>decoratorStoneConnect</key>
    <string>CoordinatorOffPortraitDeltaTo</string>
    <key>simpleParse</key>
    <string>JourneyGroupReplace</string>
    <key>thoroughHistoryTransformable</key>
    <string>BadgeAnalyzeKnown</string>
    <key>flashMatch</key>
    <string>BesideFormatterValidator</string>
    <key>packReport</key>
    <string>HostViewTagTarget</string>
</dict>
</plist>
