<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>observerHasty</key>
    <string>SelectObserverStringClear</string>
    <key>loadExecuteCommand</key>
    <string>ReferenceIdleInGladePath</string>
    <key>ultimateSerializerCycle</key>
    <string>InitialBrightDurableBriskTry</string>
</dict>
</plist>
