<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>briefRecordDuringBroker</key>
    <string>ThemeOfMajorSound</string>
    <key>ofPrime</key>
    <string>BadgeAbyssThemeSweet</string>
    <key>inletAuthenticMultiplyBuilder</key>
    <string>FindWideRemoteRate</string>
    <key>writeOwnerTranquilYield</key>
    <string>ZippyZippyYear</string>
    <key>transformableSpiritConnect</key>
    <string>BeneathQuillBeforeStart</string>
    <key>chiefWorth</key>
    <string>ThroughoutTagStopBrookProcess</string>
</dict>
</plist>
