<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>adapterBuild</key>
    <string>LedgerEarthModalCentral</string>
    <key>byTameGroupBadge</key>
    <string>MineSet</string>
    <key>goodDetectCompatible</key>
    <string>VisitorGraciousAgainst</string>
    <key>outsideChain</key>
    <string>ShoreCancelReceiveWilling</string>
    <key>executeTenderSymbolCache</key>
    <string>TestSteelFrame</string>
    <key>flashPacificBroker</key>
    <string>RelayPushFriendlyElement</string>
    <key>lightDual</key>
    <string>ToolEngineDaintyRing</string>
    <key>belowMeasuredProxyTruth</key>
    <string>AcceptFromZippy</string>
    <key>sendStream</key>
    <string>DropEarnestOpen</string>
    <key>petalUnusualContinueArray</key>
    <string>GrandManifestPeacefulOwner</string>
</dict>
</plist>
