<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>showNetworkTransformable</key>
    <string>ProcessListenerRecord</string>
    <key>hastyClassSyncLock</key>
    <string>DropViewReleaseLimit</string>
    <key>bonnyGuideStrategyCompare</key>
    <string>EndlessPauseMinimal</string>
    <key>mindfulConnectOwnerJasper</key>
    <string>DeepClearSmooth</string>
    <key>splashAgilePrintInstance</key>
    <string>StableHistoryRecord</string>
    <key>portToProtocolRoyal</key>
    <string>RemoteCommandKeenClean</string>
</dict>
</plist>
