<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>validatorAcrossNovelDusk</key>
    <string>RequestManifestCancelWhisper</string>
    <key>proxyBlithe</key>
    <string>WallImprovedFactory</string>
    <key>oasisFactory</key>
    <string>FreshHarborFactory</string>
    <key>stackMuse</key>
    <string>ReleaseModelBefore</string>
    <key>importReferenceBalancedBeside</key>
    <string>KineticPortraitVia</string>
</dict>
</plist>
