<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beneathArray</key>
    <string>BuilderWindowHiveRound</string>
    <key>enableBambooThen</key>
    <string>InitializeOnyxSet</string>
    <key>fineStem</key>
    <string>WaitBlendOn</string>
    <key>torchKeen</key>
    <string>UpwardLockDenseBoard</string>
    <key>richSyncMeadowState</key>
    <string>PrivateWideAttach</string>
    <key>resumeFilterBrave</key>
    <string>WallStripeTop</string>
</dict>
</plist>
