<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>filterDecode</key>
    <string>AbleMatchGate</string>
    <key>calmTrack</key>
    <string>AlertToolMark</string>
    <key>wealthyRefreshRest</key>
    <string>SyncFetchTypeRock</string>
    <key>analyzeAdaptive</key>
    <string>HeavenValuePause</string>
    <key>watchSnowQuiet</key>
    <string>LeanElementDrawAustere</string>
    <key>resetWarmRetreatHandler</key>
    <string>HillSpritePack</string>
    <key>solidBeyond</key>
    <string>PoolMakeEnumFolder</string>
    <key>defineUniqueLaunch</key>
    <string>RegisterPackVisitor</string>
    <key>extensionWaitDashboardAgile</key>
    <string>DecentAzureQuiet</string>
</dict>
</plist>
