<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registerFirmAdapterMultiply</key>
    <string>ArrayAnalyzeScope</string>
    <key>filterFirm</key>
    <string>AgentWorldReplaceAdapter</string>
    <key>neutralThenPrintUmbra</key>
    <string>NearResumeHealthyHonestClose</string>
    <key>utmostDispatcherScroll</key>
    <string>LuckyGloriousAdapterGreat</string>
    <key>domeAttachBaseMerry</key>
    <string>DecodeLotusHostHumane</string>
    <key>decoratorPassive</key>
    <string>ExpertBeneathSteel</string>
    <key>graphBesideCentralCreator</key>
    <string>HelperCalmRefreshJasper</string>
    <key>heroicModel</key>
    <string>RootMomentAddSerializer</string>
    <key>offMarker</key>
    <string>CacheCleverHandle</string>
    <key>ableHeaderRelease</key>
    <string>DropLockGorge</string>
</dict>
</plist>
