<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>treeTo</key>
    <string>ControllerMap</string>
    <key>compareDenseCoder</key>
    <string>DeserializerBasicReference</string>
    <key>watchModel</key>
    <string>InterpreterResetValueDecisiveTreasure</string>
    <key>compactLaunchColumn</key>
    <string>SyncResumeListSpace</string>
    <key>assignInterpreterTactic</key>
    <string>FactoryBlendAccept</string>
    <key>engineReceiveYielding</key>
    <string>ReplaceReleaseBeside</string>
</dict>
</plist>
