<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registryIvory</key>
    <string>SubmitFrostCollection</string>
    <key>helperSupreme</key>
    <string>AmongFormatApplyBlithe</string>
    <key>deliverAdapterFilter</key>
    <string>EnergeticEminentGlacier</string>
    <key>launchRock</key>
    <string>CompatibleAdapterTrain</string>
    <key>classBaseTest</key>
    <string>BeyondElmLivelyFilter</string>
    <key>immenseReceive</key>
    <string>EnumRoyalRing</string>
</dict>
</plist>
