<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>petiteGroveCoordinatorDisplay</key>
    <string>ReturnMoveWayOutside</string>
    <key>instanceGracefulReturn</key>
    <string>TrainReadyTriumph</string>
    <key>pacificAlcovePush</key>
    <string>GenuineStrategyFrost</string>
    <key>aboveTameTransformable</key>
    <string>DistinctEngineWindIn</string>
    <key>steamOffCache</key>
    <string>StateReservoirRelay</string>
    <key>storyRichVisitor</key>
    <string>MeasuredImplement</string>
</dict>
</plist>
