<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>protocolAdaptiveRead</key>
    <string>GardenSortZenithWatch</string>
    <key>registerSupreme</key>
    <string>ScriptLedgeThen</string>
    <key>overUpdateLoader</key>
    <string>ProvisionRoyalPosition</string>
    <key>offSpot</key>
    <string>RareSereneEngineTo</string>
    <key>informationOutsideManagerFluent</key>
    <string>GroupGenericTune</string>
    <key>dialogObserverLawful</key>
    <string>SteamSiteCloseRelief</string>
    <key>feasibleEnum</key>
    <string>PeakDisplaySerializerAgileResponse</string>
    <key>playShape</key>
    <string>OntoEnumResetSky</string>
    <key>proxyWinsomeCacheYew</key>
    <string>SimpleMarkerStack</string>
</dict>
</plist>
