<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>accelerateHeightVirtuousExtension</key>
    <string>ModelCanvas</string>
    <key>stableModernTool</key>
    <string>DecoratorFinishDiscreteWithin</string>
    <key>modifyExpert</key>
    <string>AdapterAdaptivePromiseShow</string>
    <key>formatterMight</key>
    <string>LandDisplayHonestGlad</string>
    <key>coordinatorAttach</key>
    <string>CollectionBlendContainerSubmit</string>
</dict>
</plist>
