<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>helperHarmless</key>
    <string>SoundGlobalOpenVerify</string>
    <key>topLogPrecious</key>
    <string>ContinueSpeakEnumNascent</string>
    <key>commandIn</key>
    <string>MarkHardyUpwardInside</string>
    <key>preciousNear</key>
    <string>OnProtocolDisplayDownCoordinator</string>
    <key>fairCreator</key>
    <string>FacadeCoordinatorOffModern</string>
    <key>silentFixSaver</key>
    <string>MountainHandlerMagnetDetect</string>
</dict>
</plist>
