<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>finishSaver</key>
    <string>ViableTribeRugged</string>
    <key>expertInstancePlayCreek</key>
    <string>DebugWide</string>
    <key>royalAppendHeath</key>
    <string>FreeIndex</string>
    <key>modelAusterePast</key>
    <string>KeeperAddKiteDeserializer</string>
    <key>rationalFilter</key>
    <string>MildLinkTimerGlad</string>
    <key>atPoolJust</key>
    <string>OnValidateCollection</string>
</dict>
</plist>
