<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>selectVocal</key>
    <string>VentureClearHold</string>
    <key>serializerSilentBinary</key>
    <string>LoaderBackupSend</string>
    <key>calculatePleasant</key>
    <string>ExpertTestDisplay</string>
    <key>imageAcrossThenExtra</key>
    <string>ListDeviceExecuteWithBase</string>
    <key>commandHideGuide</key>
    <string>ScopeYewGlad</string>
    <key>ringLawful</key>
    <string>FetchGardenCompatible</string>
    <key>queueShowSternEngine</key>
    <string>LoadCrestListWealth</string>
    <key>thenLoyalReturnTense</key>
    <string>InsideDecoderRemoveFit</string>
    <key>performCommandAmberCreek</key>
    <string>AmidCalculateShowMist</string>
    <key>chiefHideUpgrade</key>
    <string>BeginStrategyAdapterRugged</string>
</dict>
</plist>
