<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>visitorBeyond</key>
    <string>UrbaneBrokerUponSplit</string>
    <key>structureVividReset</key>
    <string>DecentEarnestMapSilent</string>
    <key>valueAtType</key>
    <string>HoldFindDeepFocused</string>
    <key>alongHelperCentral</key>
    <string>JadeCheckWealthyRoyal</string>
    <key>preciousAnalyzeWide</key>
    <string>RealOutsideSaverDebug</string>
    <key>groupHumbleLotusSave</key>
    <string>WaterModern</string>
    <key>withinAdapter</key>
    <string>SystematicTruthHelper</string>
</dict>
</plist>
