<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stopEventInstance</key>
    <string>VisitorAssignEarnestRetreat</string>
    <key>checkKeeperVisitorHoly</key>
    <string>CloseProcessCycleMagic</string>
    <key>printTransformable</key>
    <string>SubmitCreateOverModule</string>
    <key>launchModestReflectTool</key>
    <string>LoaderWideFast</string>
    <key>decoratorByDainty</key>
    <string>UponGentleResumeGenerate</string>
</dict>
</plist>
