<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mindAdapterAmid</key>
    <string>AustereIntensePearl</string>
    <key>performHistory</key>
    <string>PoplarDropController</string>
    <key>chatOn</key>
    <string>VisitorEncodeAlert</string>
</dict>
</plist>
