<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>toElegantProvider</key>
    <string>RavenHiveComplexKnown</string>
    <key>realSetMediatorCycle</key>
    <string>AcrossThroughWaveRead</string>
    <key>collectionBetween</key>
    <string>ForwardWishDefine</string>
</dict>
</plist>
