<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beginDisplay</key>
    <string>ActionListCompare</string>
    <key>buoyantClear</key>
    <string>TargetBeginModule</string>
    <key>baseOverBasicProfile</key>
    <string>ResetConfigFocusWish</string>
    <key>peacefulDialogMergeMediator</key>
    <string>ElegantHarmlessBroker</string>
    <key>neatSpokeProxy</key>
    <string>AlongToolGetNetwork</string>
    <key>beginManagerKnown</key>
    <string>PixelInWind</string>
    <key>creatorResume</key>
    <string>StoreDecoratorResetFinish</string>
</dict>
</plist>
