<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>transformableTransformOption</key>
    <string>ContinueProviderSendEngine</string>
    <key>serializerPoint</key>
    <string>ReliefSpriteAlertTarget</string>
    <key>ontoPortrait</key>
    <string>InstanceCoordinatorOntoHide</string>
    <key>supremeBraveStackPush</key>
    <string>WithoutBrowserViaRecord</string>
    <key>linePushStack</key>
    <string>PrivateControlMakeSphereBuilder</string>
    <key>primeEnum</key>
    <string>WriteChiefLockGroup</string>
</dict>
</plist>
