<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>primalStateBeyondKey</key>
    <string>AcceptBridgeCascadeTunnelProcess</string>
    <key>flowHolisticCompatibleSubmit</key>
    <string>HoldTameParadiseHarmonic</string>
    <key>againstCollectionUniqueLayout</key>
    <string>InitialCalm</string>
    <key>cacheSkillInitializeHandsome</key>
    <string>StopReturnDecisiveClose</string>
    <key>decoderOpenTypeHardy</key>
    <string>HideBoldProxy</string>
</dict>
</plist>
