<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>arrayPackBraveMoment</key>
    <string>ClearInstanceShellFluent</string>
    <key>pauseSteamClassAzure</key>
    <string>PlayRealmDataSourceImport</string>
    <key>interpreterConvertAdvanced</key>
    <string>TrendSleekBesideEngine</string>
    <key>compareLedger</key>
    <string>ImplementThroughEntryAcross</string>
    <key>braveResilientReference</key>
    <string>AlertYearOwnerWithin</string>
    <key>threatParseStrong</key>
    <string>TrendDataSourceFormal</string>
</dict>
</plist>
