<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>azureEmberObserver</key>
    <string>EndDawnAnalyzeBuildUnique</string>
    <key>towardGrid</key>
    <string>ShapeEmberMarkEngine</string>
    <key>providerBlithe</key>
    <string>RuggedObserverKindTiny</string>
    <key>visitorNeatOver</key>
    <string>UntilSmartScope</string>
    <key>lightBuilderCrownSend</key>
    <string>TempleVisionGenerousTrend</string>
    <key>acrossHonestWorth</key>
    <string>VastExtractSimpleFreshFactory</string>
</dict>
</plist>
