<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>boldPine</key>
    <string>TrueReferenceTrain</string>
    <key>calmDataSource</key>
    <string>PlaceTriumphTrackBroker</string>
    <key>poolWaitFastModest</key>
    <string>ViaCenterProvider</string>
    <key>alongsidePure</key>
    <string>AmidGraveLedgerFormal</string>
    <key>connectDataSourceSharpMemory</key>
    <string>PrimalQuirkShowSlip</string>
    <key>untilBroker</key>
    <string>OriginFormatterIntimateEarth</string>
    <key>controlControllerTrustedAt</key>
    <string>GenerateLoadBeyond</string>
    <key>splashBraveDefine</key>
    <string>HandleOddFixEnd</string>
</dict>
</plist>
