<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brightAppend</key>
    <string>SortEminentMessage</string>
    <key>interpreterKeeperAlongSecure</key>
    <string>VaporCompatibleTallSort</string>
    <key>systemWirelessUponType</key>
    <string>RegisterDramaticFastPlanet</string>
    <key>headerPlain</key>
    <string>AcrossPrintSwirlEarth</string>
</dict>
</plist>
