<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>strikeMajorSave</key>
    <string>UltimateMarkListPack</string>
    <key>thinInstanceZenithRead</key>
    <string>OptimalSparkMarsh</string>
    <key>trustedBelow</key>
    <string>ReceiveGorgeExport</string>
    <key>stairManagerFormatKnown</key>
    <string>HideSceneTransformTerse</string>
</dict>
</plist>
