<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tamePool</key>
    <string>MomentBesideEncodeMacroReturn</string>
    <key>vividRiverProcessTarget</key>
    <string>FormalWealthyFromTransformExtract</string>
    <key>richIntoUrchinTool</key>
    <string>SubtleSpeakPowerOutside</string>
    <key>stackPureHumor</key>
    <string>EngineSelectSwiftDawn</string>
</dict>
</plist>
