<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>starFrom</key>
    <string>DecoratorHardyOwnerTrack</string>
    <key>afterTallTransformable</key>
    <string>GenerateLineReplace</string>
    <key>darkLaneTypeDown</key>
    <string>StackStoreRusticSubmit</string>
    <key>compatibleZippyJadeMark</key>
    <string>ImportReleaseProtocol</string>
    <key>absoluteEdge</key>
    <string>ExpertJunctionDetect</string>
    <key>protocolMakeSound</key>
    <string>HelperAgainstStation</string>
    <key>lockPoplarValidatorMajor</key>
    <string>AustereWithoutFirthBuoyant</string>
</dict>
</plist>
