<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>baseFor</key>
    <string>EmberPackFieldJust</string>
    <key>extensionFirm</key>
    <string>PoplarSandChatHandsome</string>
    <key>radiantRock</key>
    <string>EncodeProtocolLaunchRun</string>
    <key>headerWillingCache</key>
    <string>OutsideErrorWorthyAmong</string>
    <key>instanceSoundHandle</key>
    <string>HarmonyGenericAdapter</string>
    <key>cloudModern</key>
    <string>QuirkBehindEqual</string>
    <key>instanceRegistryOpenIntuitive</key>
    <string>FancyModernPerformLively</string>
</dict>
</plist>
