<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>owlKeen</key>
    <string>AuroraAdapterForceful</string>
    <key>overAgile</key>
    <string>MacroInsertIntenseFrom</string>
    <key>absoluteLibraryRemove</key>
    <string>BrokerWatchWing</string>
    <key>moveImplementDashboardDecent</key>
    <string>ChiefTargetImmense</string>
    <key>unusualNovel</key>
    <string>SelectRegisterStand</string>
    <key>compatibleFlatStopExact</key>
    <string>CreatorCleanAtlas</string>
</dict>
</plist>
