<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sendNodeOwner</key>
    <string>ProcessFaithfulBirchFine</string>
    <key>songBrightFind</key>
    <string>ForSteamMapPrecious</string>
    <key>bonnyObserverLockAuthentic</key>
    <string>OfLanguageVast</string>
    <key>readyThenInitialize</key>
    <string>FixPlayStopYoungNovel</string>
    <key>brightProtocol</key>
    <string>ToolCompactTransformHost</string>
</dict>
</plist>
