<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gentleDebugImplementSelect</key>
    <string>MacroSelfHeaderHeader</string>
    <key>atIvory</key>
    <string>DriverSpaceLaunch</string>
    <key>meritDebugRest</key>
    <string>OptionAlertArray</string>
    <key>defineSlideHeroic</key>
    <string>PlatformDeserializerPlazaGenuine</string>
    <key>cacheBeneathSteel</key>
    <string>MatchSunHandle</string>
    <key>discreteObserverDark</key>
    <string>AttachApplyProvider</string>
</dict>
</plist>
