<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectionThorn</key>
    <string>ThoroughInterpreterPromptTrackScope</string>
    <key>afterWarmProtocol</key>
    <string>SaverUnityThreadAround</string>
    <key>ivoryThroughoutChief</key>
    <string>BindReturnOakenRapids</string>
    <key>saverSetPrimal</key>
    <string>PerformAtlasInterpreterDataSource</string>
    <key>getReference</key>
    <string>ContainerUnityControllerFirmShape</string>
</dict>
</plist>
