<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mediatorDuringWisdom</key>
    <string>BrookRange</string>
    <key>fairImplementSymbolModify</key>
    <string>UponSiteAcrossRequestSystem</string>
    <key>readExpertPrismCompatible</key>
    <string>HiveFilterAgent</string>
    <key>mediatorRidgeAround</key>
    <string>TowardExtraAlongsideViaZenith</string>
    <key>dominantDecorator</key>
    <string>CommandTenderListParse</string>
    <key>compatibleUpwardSort</key>
    <string>RetreatRelayFeasibleSilverSmart</string>
</dict>
</plist>
