<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>immenseAttachCrestCoordinator</key>
    <string>BehindFixWithinTame</string>
    <key>coordinatorCalmCancel</key>
    <string>RavenExpertOriginal</string>
    <key>looseReceive</key>
    <string>ExactPineAlongService</string>
    <key>chiefDown</key>
    <string>GenerousSoundWing</string>
    <key>agentForBlithe</key>
    <string>OfIntoKnown</string>
    <key>immenseConvertChatDelegate</key>
    <string>PromptPackWreath</string>
    <key>brokerBeneathNascent</key>
    <string>DrawTimerPush</string>
</dict>
</plist>
