<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>moduleForward</key>
    <string>ToolGlobalGetManager</string>
    <key>builderCleanFancyUrchin</key>
    <string>NovelDurableOutside</string>
    <key>referenceFaithfulReturn</key>
    <string>TransformableHealthySplitFont</string>
    <key>royalStopListChannel</key>
    <string>MutualDispatcherAttach</string>
    <key>submitVisitorSelectBold</key>
    <string>TreeDeliverRound</string>
    <key>advancedCommandAfterOver</key>
    <string>SoftUnderExtensionGraph</string>
    <key>creatorAfterTime</key>
    <string>StoreElementAdapterStep</string>
</dict>
</plist>
