<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dominantFalls</key>
    <string>WishNaturalPortraitCreator</string>
    <key>intuitiveAddPeak</key>
    <string>RowWithSubmit</string>
    <key>robustController</key>
    <string>ProcessDownAlcovePast</string>
    <key>systematicFirth</key>
    <string>MoveDeserializerLogDelegateHandle</string>
    <key>moduleJasperBeginLarge</key>
    <string>BareTacticPack</string>
    <key>underFeatureFriendlyInstance</key>
    <string>SubtleMagicalFreshStretch</string>
    <key>remoteVibrantMoveDeserializer</key>
    <string>HavenAppendMountain</string>
    <key>boundThenMakeDry</key>
    <string>MomentSolidReadRefresh</string>
</dict>
</plist>
