<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>voiceHeaderApply</key>
    <string>ToSplitInterpreterAccurateBy</string>
    <key>graphDownSerializer</key>
    <string>ConnectKineticCrestBefore</string>
    <key>creatorDatabaseFormal</key>
    <string>EmberEnableDawnTransform</string>
    <key>hubTryOdd</key>
    <string>PastHideLogic</string>
</dict>
</plist>
