<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>intoDeserializerEasyDeep</key>
    <string>AgentViaHideParse</string>
    <key>themeAbsoluteController</key>
    <string>CodecIntimateUnderAmpleOutside</string>
    <key>dispatcherIntimateTransform</key>
    <string>WhiteSpiceReceiveGorge</string>
    <key>pausePrime</key>
    <string>WithImageBroker</string>
</dict>
</plist>
