<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>splendidProxy</key>
    <string>ManagerHarmless</string>
    <key>pauseManagerLock</key>
    <string>WaitLandscapeSaveOff</string>
    <key>coordinatorKindScript</key>
    <string>TorchStateAgainst</string>
    <key>gridClose</key>
    <string>MacroViewAfter</string>
    <key>spotGroupDirect</key>
    <string>ImplementWealthModern</string>
    <key>arrayPastHarborExact</key>
    <string>UtilityMysticDetect</string>
    <key>sandControllerDisplay</key>
    <string>AssignGenericBlitheAbove</string>
</dict>
</plist>
