<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>replaceHealthyPassageStrategy</key>
    <string>StrongRobustBambooAfter</string>
    <key>surfSendDataSourceCareful</key>
    <string>ShowDaintyGroupAdapterSlip</string>
    <key>threatBetweenNeat</key>
    <string>AbyssFindBeneathHold</string>
    <key>steelOpenFit</key>
    <string>WoodSegmentFaithfulAdaptive</string>
</dict>
</plist>
