<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dispatcherGetVirtuous</key>
    <string>AtShowIn</string>
    <key>leafOf</key>
    <string>DuringEnumIdle</string>
    <key>serviceFondOwner</key>
    <string>TryStackDebug</string>
    <key>stackRowClean</key>
    <string>PushAbsoluteAssignWhiteVerify</string>
    <key>headerSearchTender</key>
    <string>IntimateProperAtTestAcross</string>
    <key>honestRustic</key>
    <string>AccelerateNearDelegateType</string>
    <key>threatSearchFluent</key>
    <string>UntilTriumphPetal</string>
    <key>nearRustic</key>
    <string>GlobalDecisiveDefinedCheck</string>
    <key>mediatorNearSimpleSilver</key>
    <string>SerializerGraveBaseBroker</string>
    <key>referenceConsoleSubtle</key>
    <string>ToolZippyDisplay</string>
</dict>
</plist>
