<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>updateAgentRegister</key>
    <string>WinsomeHandleInitializeClean</string>
    <key>groupRareLine</key>
    <string>NetworkGlobalSurf</string>
    <key>validatorDeliver</key>
    <string>KiteLeapAround</string>
    <key>deltaOddTrackBase</key>
    <string>VectorRefinedStay</string>
    <key>proxyDrop</key>
    <string>DebugJadeMonitor</string>
    <key>reservoirProxy</key>
    <string>StructureProtocolVesselCompare</string>
    <key>implementLucentPlugin</key>
    <string>SearchFastTwist</string>
    <key>ornateStrengthPush</key>
    <string>FormatterHeroicNearPlay</string>
</dict>
</plist>
