<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>betweenToolCompositeSolar</key>
    <string>PaintUrbaneJust</string>
    <key>displaySolidRequest</key>
    <string>GoodHillPhoenix</string>
    <key>civicMediator</key>
    <string>MagicSave</string>
    <key>agileDistinctOwnerImport</key>
    <string>WalkOnByInviting</string>
    <key>compatibleWholeWarm</key>
    <string>DuskGateBalancedInterpreter</string>
    <key>viewPlayful</key>
    <string>FocusExtensionPause</string>
</dict>
</plist>
