<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>silentSimple</key>
    <string>ManagerBaseTransformableNascentZephyr</string>
    <key>siteVictoriousSaveProvider</key>
    <string>ContainerMergeFaithful</string>
    <key>validatorContent</key>
    <string>CentralBlitheProcess</string>
    <key>bundleOriginalRemove</key>
    <string>ForAtTransformableKindred</string>
    <key>trainExtra</key>
    <string>SelectUnusualStripe</string>
</dict>
</plist>
