<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brightRestore</key>
    <string>WriteProcessHeight</string>
    <key>managerAstute</key>
    <string>WithinSetGlad</string>
    <key>filterVividSetPixel</key>
    <string>BeginMemorySaverSilver</string>
</dict>
</plist>
