<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registryDiscrete</key>
    <string>CommandEqualCompare</string>
    <key>wittyFacadeBasinRecord</key>
    <string>TinyFormatterDelegateInstance</string>
    <key>thenEnableTactfulAlert</key>
    <string>HeroicBridgeWriteProtocol</string>
    <key>tableInterpreterBesidePassive</key>
    <string>FilterFactoryPrimeMainReturn</string>
    <key>providerBeforeBonny</key>
    <string>AgileImportLasting</string>
    <key>throughPacificTaskDelegate</key>
    <string>ManifestMerryProviderCrispMark</string>
    <key>listenerAdd</key>
    <string>DetectOuterPaint</string>
    <key>ownerLuckyIn</key>
    <string>RoundConvertValleyCreator</string>
</dict>
</plist>
