<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>refreshTinyShowAgent</key>
    <string>SelectStoreReturn</string>
    <key>baseCreateElegant</key>
    <string>PineGenerateSerializerModify</string>
    <key>blithePortraitFromCollection</key>
    <string>AnalyzeInstanceOffHandle</string>
    <key>diamondVerify</key>
    <string>EnableClearOwner</string>
    <key>extensionWireless</key>
    <string>ForwardTinyPureChart</string>
    <key>flatListStoreMerit</key>
    <string>WholeResilientManifest</string>
    <key>braveCreateModuleWish</key>
    <string>ViewIntoIdealForest</string>
</dict>
</plist>
