<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>factoryLawful</key>
    <string>TestTrackExtension</string>
    <key>verseSelect</key>
    <string>ByWiseDistantSystematicGreat</string>
    <key>stableInfinity</key>
    <string>ViewClearIsland</string>
    <key>positionNearHolyImplement</key>
    <string>UnderTypeBuoyant</string>
    <key>builderUpdatePacificProper</key>
    <string>InInterpreterIntimateUpon</string>
    <key>defineFindHubSplendid</key>
    <string>SharpTableChiefCrest</string>
    <key>typeLaunchTrain</key>
    <string>SeaNorthCalm</string>
    <key>handlerUpwardAtLink</key>
    <string>WorkCompatibleQuietBright</string>
</dict>
</plist>
