<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>acuteOutsideBroker</key>
    <string>FeatureFit</string>
    <key>duringBroad</key>
    <string>TypeWatchSimpleBasin</string>
    <key>jungleTiny</key>
    <string>ForcefulCheckModern</string>
    <key>matureDecorator</key>
    <string>StringEqualBuoyantForward</string>
</dict>
</plist>
