<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>protectAustereGroup</key>
    <string>MildMediatorReplaceStemProxy</string>
    <key>winsomeNearDeserializer</key>
    <string>BriefIdleProud</string>
    <key>crossTryCollection</key>
    <string>EngineLoaderHeight</string>
    <key>interpreterHaze</key>
    <string>GentleBalancedOutside</string>
    <key>collectionLogicalVapor</key>
    <string>CommandInterpreterSphere</string>
</dict>
</plist>
