<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>loaderRoyalBroad</key>
    <string>PauseCoralPastTrack</string>
    <key>idleExecuteGroup</key>
    <string>WittyDuringStay</string>
    <key>bindVibrantType</key>
    <string>HandyBasicThemeMove</string>
    <key>jovialProcessDefineSearch</key>
    <string>StateCrossReturnCreator</string>
    <key>coordinatorWatchMerrySwirl</key>
    <string>DataSourceLotusWithWinter</string>
    <key>properWideSyncValidator</key>
    <string>TimeStepClearDownCareful</string>
    <key>sendOuterCanyonSerializer</key>
    <string>DataSourceReferenceSave</string>
</dict>
</plist>
