<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sweetLandDrawProvider</key>
    <string>ShareListFacadeProxy</string>
    <key>focusedAddUpgradeAgent</key>
    <string>PleasantPowerEncodeFluke</string>
    <key>clientStrategyAbundant</key>
    <string>BrookBlitheStair</string>
    <key>youngWhite</key>
    <string>WaitHardStepFix</string>
</dict>
</plist>
