<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>obviousMonitorFetchReference</key>
    <string>ForLoadTestProcess</string>
    <key>promptGracious</key>
    <string>IntimateMildDefineState</string>
    <key>agentHarborStableWrite</key>
    <string>ListShowLaunch</string>
    <key>listenerHelperTender</key>
    <string>ImplementHillStore</string>
    <key>readRuggedVividController</key>
    <string>ClassHoldFormalSlice</string>
    <key>helperMake</key>
    <string>PetiteStackThorn</string>
    <key>serializerBrainDramaticDuring</key>
    <string>AlongRangeResponse</string>
</dict>
</plist>
