<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>daintyObserver</key>
    <string>CheckReferenceDelegate</string>
    <key>viewFormat</key>
    <string>NectarTowerElmDynamic</string>
    <key>honestRegisterProxyOver</key>
    <string>ForAnalyzeUntilSend</string>
    <key>containerConvertSandAdaptive</key>
    <string>AbstractDisplayMediator</string>
    <key>enumWiseThroughPrompt</key>
    <string>OptionGenuineAccurateSave</string>
</dict>
</plist>
