<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>targetViaPanelGlad</key>
    <string>FirmMeasuredAdapterMark</string>
    <key>ofNaturalBuilderIvory</key>
    <string>ClassHazeInstance</string>
    <key>openInterpreterPlatformTrusted</key>
    <string>ReturnAdapterContainer</string>
    <key>hazeView</key>
    <string>RefinedLaunchStack</string>
    <key>extractValidator</key>
    <string>IvoryUpVision</string>
</dict>
</plist>
