<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>saverPlayDominantSummit</key>
    <string>VerifyEngineCoral</string>
    <key>besideSteady</key>
    <string>EncodeProxyGlade</string>
    <key>elmInside</key>
    <string>SubmitPortWayAudio</string>
</dict>
</plist>
