<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>willingExtension</key>
    <string>GroupSoft</string>
    <key>meritTrail</key>
    <string>StrategyClassOriginalManagerDecorator</string>
    <key>managerCoordinatorBuild</key>
    <string>RefinedInstanceDefineIndex</string>
    <key>dispatcherPositiveAccount</key>
    <string>FormatterPlainRaven</string>
    <key>chainMarkOuterThen</key>
    <string>FilterSilentImplementMighty</string>
    <key>ultimateMelodyProxyContinue</key>
    <string>FaithfulStoreCacheWait</string>
    <key>judiciousTargetRainRelease</key>
    <string>SearchRemoveFreeParadise</string>
    <key>modelPushPlush</key>
    <string>LoadCoralCanvasCompare</string>
    <key>definedBlockShow</key>
    <string>ListenerStopSite</string>
</dict>
</plist>
