<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ledgeInstanceVitalUntil</key>
    <string>VentureExquisiteCreate</string>
    <key>saverShellWarm</key>
    <string>ResumeHideCreateAnalyze</string>
</dict>
</plist>
