<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ontoOdd</key>
    <string>ReadyImageHonestImage</string>
    <key>stringUnitySort</key>
    <string>TryOntoSaver</string>
    <key>rusticInstance</key>
    <string>ModelPrintThroughout</string>
    <key>definePrairie</key>
    <string>RationalPauseTheorySystemRead</string>
    <key>earnestDetectMeadowModel</key>
    <string>PlaceInsideCacheInterpreter</string>
    <key>tranquilSaverLeaf</key>
    <string>DualMildSolutionAdapter</string>
</dict>
</plist>
