<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>swirlStartAdvancedOwner</key>
    <string>RealmManifestDispatcherHandler</string>
    <key>serializerAlongDivine</key>
    <string>GlobalMagnetAdeptPhoenix</string>
    <key>litheAdapterStarNear</key>
    <string>ShellExtensionStrategy</string>
    <key>extensionTrack</key>
    <string>LooseAcrossFormal</string>
    <key>moduleAlert</key>
    <string>InterpreterBuoyantAttachTo</string>
    <key>knackTallStrategy</key>
    <string>ReleaseWhisperFill</string>
    <key>typeGroupBalancedBegin</key>
    <string>GroupBelowController</string>
</dict>
</plist>
