<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classChiefWithoutOnyx</key>
    <string>CancelFromBefore</string>
    <key>goodCancelProvider</key>
    <string>SceneWirelessShowInitializeJust</string>
    <key>passiveViewTestPortrait</key>
    <string>InterpreterExecuteReceive</string>
    <key>expertProcessZealousDecorator</key>
    <string>SurgeArray</string>
    <key>mapStar</key>
    <string>OntoBare</string>
    <key>implementBesideBold</key>
    <string>MightPauseReflect</string>
</dict>
</plist>
