<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>royalProxy</key>
    <string>AcceleratePrintAbsolute</string>
    <key>yewHandlerBy</key>
    <string>UtmostLaunchThornDynamicLoader</string>
    <key>referenceFitFinishMerit</key>
    <string>SlateStoreSort</string>
    <key>objectPlayCoordinatorNative</key>
    <string>IntoChiefSubmit</string>
    <key>dryReleaseBroker</key>
    <string>ModelHiveBelowRelease</string>
    <key>harmonyFilter</key>
    <string>NovelStrengthMemoryDataSource</string>
    <key>deserializerPower</key>
    <string>TargetViewRestoreOver</string>
    <key>compositeContextDelegateMerge</key>
    <string>FindTagHelper</string>
</dict>
</plist>
