<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dropFactoryMutualEqual</key>
    <string>SongUpShow</string>
    <key>commandDominant</key>
    <string>HistoryDramaticStoreTone</string>
    <key>verifyWillingDeserializerField</key>
    <string>DefineStopHaven</string>
    <key>attachKiteTargetZippy</key>
    <string>RoundSleekGeneric</string>
    <key>greenInterpreterStopSymbol</key>
    <string>ObserverNorthPastPool</string>
    <key>handlerFind</key>
    <string>AccelerateClassicLeafUp</string>
</dict>
</plist>
