<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nookPoolStableBegin</key>
    <string>ModeScaleEnginePause</string>
    <key>throughBound</key>
    <string>ForestEngineRiver</string>
    <key>facadeRidge</key>
    <string>ResetGuideCompare</string>
    <key>humaneHelperCounter</key>
    <string>TargetAcrossObvious</string>
    <key>audioGenuineFill</key>
    <string>BackupFinishBindOf</string>
    <key>bindCreator</key>
    <string>ForcefulCoral</string>
    <key>sortStrategyChief</key>
    <string>LoadBindCrisp</string>
    <key>roundSerializer</key>
    <string>WordHoldEndReal</string>
</dict>
</plist>
