<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ravenInterpreterImproved</key>
    <string>ReliefRestoreLinkPauseBeside</string>
    <key>engineDual</key>
    <string>DaintyWingFilter</string>
    <key>novelMarkCreator</key>
    <string>CrispTryRun</string>
    <key>viewUpward</key>
    <string>CacheSmoothPaintBy</string>
    <key>originDefineSmoothDrop</key>
    <string>RegionWebModernBy</string>
    <key>holdBuoyant</key>
    <string>UpdateMerryHive</string>
    <key>prismAdeptDataSource</key>
    <string>DataSourceInterpreterTypeExecute</string>
    <key>agentToPlush</key>
    <string>MelodyAudioDrawMark</string>
    <key>centralFactoryPrintForward</key>
    <string>ReplaceBriefDataSource</string>
</dict>
</plist>
