<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>heroicBegin</key>
    <string>SyncAroundRiver</string>
    <key>astuteBuilder</key>
    <string>DetectBeneathTameCoordinator</string>
    <key>formatIndex</key>
    <string>LogDryTrack</string>
    <key>browserBeginObserver</key>
    <string>ViewJourneyCreek</string>
    <key>knollOpenChief</key>
    <string>StrikeGroupExact</string>
    <key>targetLuminousInside</key>
    <string>BeginStopHumbleAgent</string>
</dict>
</plist>
