<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatterChart</key>
    <string>SunAuthenticUpdateCache</string>
    <key>smoothFix</key>
    <string>CommandAssetSun</string>
    <key>sweetInTactic</key>
    <string>GenerateApplyLandscapeVia</string>
    <key>keeperThenEnd</key>
    <string>VerifyWorkLotusTemple</string>
    <key>extractHeroic</key>
    <string>LightAgileHardMarshTurn</string>
    <key>layoutValidatorSort</key>
    <string>InsideWarmThen</string>
    <key>clearToolDuringChannel</key>
    <string>VisitorFocusedByList</string>
</dict>
</plist>
