<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>onCommandGlobe</key>
    <string>PreciousResourceThroughoutTame</string>
    <key>fancyRugged</key>
    <string>LightCommandPrintFacade</string>
    <key>viewVoiceRelease</key>
    <string>FormalStrategyTransformableCoordinator</string>
    <key>modifyCoordinatorUnity</key>
    <string>CreateInsertLightDecent</string>
</dict>
</plist>
