<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thenUp</key>
    <string>MergeCloseDale</string>
    <key>distinctListNascentReplace</key>
    <string>TextControlOnOver</string>
    <key>loaderDefinedExtensionResume</key>
    <string>ByPaintSensor</string>
    <key>rationalDelegateFlukeDeliver</key>
    <string>ObviousFactoryManagerManager</string>
    <key>forNookViewTall</key>
    <string>SimpleDataSourceReturn</string>
    <key>remoteValidator</key>
    <string>VerseDuringSyncImplement</string>
    <key>reliableList</key>
    <string>VisitorWinterTransformableGeneric</string>
</dict>
</plist>
