<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fitEnumCancel</key>
    <string>TribeAgent</string>
    <key>facadeUpdateTrueDisplay</key>
    <string>TrimBeyondRoundStartGenerate</string>
    <key>besideVisitor</key>
    <string>HandlerIndex</string>
    <key>appendCrisp</key>
    <string>SaveStoreBeside</string>
    <key>delegateHeroicWiseInside</key>
    <string>SlideMerryThrough</string>
    <key>facadeJunction</key>
    <string>DeliverMoorTrusted</string>
    <key>assetBraveEnum</key>
    <string>DispatcherVisitorIslandCreate</string>
</dict>
</plist>
