<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>kindredOnyxProviderPlay</key>
    <string>CloseRidgeDecisive</string>
    <key>vibrantSelectTool</key>
    <string>DelegateLayoutThoroughHasty</string>
    <key>enableCalmValidatorBrain</key>
    <string>FastComplexSimple</string>
</dict>
</plist>
