<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>domeHonestCheck</key>
    <string>BuildBuilderDataSource</string>
    <key>pacificCompareControllerWind</key>
    <string>ReliableOpal</string>
    <key>symbolBriefDataSource</key>
    <string>ToolPoolProvider</string>
    <key>decoratorDramaticRecord</key>
    <string>InstanceViaFormatCivic</string>
    <key>restoreGroupReal</key>
    <string>ReadSolutionNovel</string>
</dict>
</plist>
