<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>segmentHandleMobileInstance</key>
    <string>LibraryStartModify</string>
    <key>referenceStartSlateGlad</key>
    <string>DomainSteelTest</string>
    <key>walkProtocolDebug</key>
    <string>VerifyOwnerFlatGood</string>
    <key>playSelectAbundant</key>
    <string>MainVerifyValue</string>
    <key>visitorTuneMake</key>
    <string>ReadCancelPage</string>
    <key>kindMultiply</key>
    <string>UpTrackRustic</string>
</dict>
</plist>
