<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>showPowerFactoryAustere</key>
    <string>BrokerDefinedGlad</string>
    <key>brokerNearWinsome</key>
    <string>ChannelAgainstClassicWindow</string>
    <key>ventureDrySaverAppend</key>
    <string>DefineTulipReturn</string>
    <key>optimalDecodeImplementReflect</key>
    <string>GlacierMysticSave</string>
    <key>stackParse</key>
    <string>EncodeCacheBegin</string>
    <key>validatorBridgeGetObvious</key>
    <string>ResourceNodeIvoryDefine</string>
    <key>slipWaitHandler</key>
    <string>SeaDataSourcePleasedInside</string>
    <key>azureInto</key>
    <string>MagnetClassRapids</string>
    <key>alongsideGroupEqual</key>
    <string>MildHandlerSiteBeginPush</string>
    <key>supremeModelModeEncode</key>
    <string>ShowFancyHarborWeb</string>
</dict>
</plist>
