<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beyondClassic</key>
    <string>DetectDelegateTargetZenithBinary</string>
    <key>outerRefreshCreator</key>
    <string>TreeHeavenInsideAdvanced</string>
    <key>coordinatorEasy</key>
    <string>LogicalInitialClean</string>
</dict>
</plist>
