<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thornQuiet</key>
    <string>DisplayGroupLoaderInsert</string>
    <key>endObserver</key>
    <string>PrimalPreciousPineConvert</string>
    <key>riverGiftedUnder</key>
    <string>TimerViaGorgeHold</string>
    <key>coordinatorShellWithMindful</key>
    <string>ManifestHistory</string>
    <key>modifyStackQuillBlithe</key>
    <string>BoldAgainstBindMove</string>
    <key>validateHarborLightAgent</key>
    <string>ReplaceFilterVast</string>
    <key>releaseGraciousFilterPlugin</key>
    <string>ColumnZippyShapeZenith</string>
    <key>attachPlainVibrant</key>
    <string>LaunchStackBeneathCompatible</string>
</dict>
</plist>
