<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ofPortrait</key>
    <string>ReadStationPoolDuring</string>
    <key>wreathInsertCreator</key>
    <string>BeyondAssignFetchPath</string>
    <key>definedToolOffBridge</key>
    <string>ListValidateTulip</string>
    <key>macroKnownToModel</key>
    <string>AdapterSerializerThen</string>
    <key>holisticTrainImprovedProvider</key>
    <string>FromDelegateExactAngle</string>
    <key>listAmongAlcoveFriendly</key>
    <string>IntoStackFriendly</string>
</dict>
</plist>
