<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handleRoyalExtension</key>
    <string>ConnectThemeAtTransform</string>
    <key>adapterDune</key>
    <string>ThroughSolarStrength</string>
    <key>windowHoldCalm</key>
    <string>LegacyUnitySkyStyle</string>
</dict>
</plist>
