<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>zippySyncStrategyGood</key>
    <string>RoundLucidPaintTrim</string>
    <key>listBlithe</key>
    <string>BesideCreativeIntimateNetwork</string>
    <key>classKeeperFree</key>
    <string>CommandStageTreatCompatible</string>
</dict>
</plist>
