<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>towardResilient</key>
    <string>OwnerThenScript</string>
    <key>overDecoratorUnityScene</key>
    <string>FileLockSmoothOver</string>
    <key>beginSilent</key>
    <string>BeneathVisitorImportRest</string>
    <key>arrayBonnyGrowing</key>
    <string>ThinGetOceanTargetMelody</string>
    <key>managerSpringOddHold</key>
    <string>NeutralPortalAfterFreshGet</string>
</dict>
</plist>
