<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>markCompatibleBrave</key>
    <string>StrikeTwistHelper</string>
    <key>agentModernPeakProcess</key>
    <string>SplitQueryStore</string>
    <key>detectDispatcherAlertHumble</key>
    <string>AngleDuskAbyssManager</string>
    <key>cacheAcross</key>
    <string>MatchProxyLedgerOrchard</string>
    <key>queryValuableBrokerBeside</key>
    <string>TwistGardenOrnateMobile</string>
    <key>graveDefineCancel</key>
    <string>EncodeLegacyFetch</string>
    <key>worthyCheckCrownView</key>
    <string>PortAdapterWarmWinter</string>
    <key>typeGenerateAdvancedScan</key>
    <string>OrderBambooRegisterDelicate</string>
    <key>interpreterChain</key>
    <string>KeenSimpleSafeBoard</string>
    <key>trueAdapterAcceptStrong</key>
    <string>ProperBindSpeakThrough</string>
</dict>
</plist>
