<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>coordinatorOutsideQualityCompatible</key>
    <string>WithinViewRoundSaverSunny</string>
    <key>coordinatorDisplayBrave</key>
    <string>DropLuckyRationalTower</string>
    <key>facadeWithSolidKey</key>
    <string>RestoreAppendImportLevel</string>
    <key>dataSourceSearchMinimalDark</key>
    <string>KineticReleaseInstance</string>
    <key>digitalVoiceCommandLoad</key>
    <string>DetectFloraAlongLarge</string>
    <key>pristineBuilderResponseSearch</key>
    <string>ProxyWithinQueryDebugCache</string>
    <key>lucidTrigger</key>
    <string>DryDispatcherIslandFactory</string>
    <key>inDainty</key>
    <string>PaintHumbleHelperSimple</string>
</dict>
</plist>
