<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handleFilterWrite</key>
    <string>TheoryClearSweet</string>
    <key>pluginAmpleController</key>
    <string>MagnetPlaceTagValidatorOutside</string>
    <key>softBraveController</key>
    <string>ConnectMagnetConnect</string>
    <key>definedClass</key>
    <string>SegmentStack</string>
    <key>humaneSearchEqual</key>
    <string>PetiteResetRemove</string>
    <key>durableForest</key>
    <string>DefineDaintyDecorator</string>
    <key>loaderMatureBehind</key>
    <string>AdeptPositiveArrayZestful</string>
    <key>factoryAccess</key>
    <string>HastyCrownGet</string>
    <key>loyalCalculate</key>
    <string>BeforeWreathGroupDivine</string>
</dict>
</plist>
