<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>encodeFilterEqualProtocol</key>
    <string>VerifyLargeExtensionFix</string>
    <key>songForProtocol</key>
    <string>GuideCompatibleFormatHonestBlithe</string>
    <key>groupAttach</key>
    <string>AdapterAgileMake</string>
    <key>durableClassRelease</key>
    <string>SaverInfinityBoldTrackTarget</string>
    <key>tenseSkyProvider</key>
    <string>TestRemoveAfterClear</string>
</dict>
</plist>
