<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>restoreActionHarmless</key>
    <string>ReceivePoolHelper</string>
    <key>rowOpenViable</key>
    <string>AppendContainerConvertPromise</string>
    <key>reservoirTool</key>
    <string>ScriptCreekPlanet</string>
    <key>dynamicTool</key>
    <string>FillPositionExtension</string>
    <key>facadeHideTrustyRustic</key>
    <string>MightyCollectionSubmit</string>
    <key>viewRareSend</key>
    <string>ShoreBaseSplitFix</string>
    <key>accurateImplementLayoutLog</key>
    <string>OpenEncodePlushInsideBroad</string>
    <key>fromBase</key>
    <string>MobileStackOwnerThen</string>
</dict>
</plist>
