<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>exportAssignPositiveDefine</key>
    <string>AmberWinterBonnySelectStart</string>
    <key>lockBroker</key>
    <string>ThroughToModeDark</string>
    <key>roundHelperFine</key>
    <string>BreakDuringHandle</string>
    <key>thenGulfSunnyVia</key>
    <string>FlatWanderGrave</string>
    <key>handlerCacheGenerateSacred</key>
    <string>BuildDataSourceTry</string>
    <key>absolutePastProtocolDigital</key>
    <string>ResetFinish</string>
</dict>
</plist>
