<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>responseAmpleBetween</key>
    <string>FromOfProvider</string>
    <key>enumBeside</key>
    <string>JoyfulCompareReference</string>
    <key>validatorHandyGlobal</key>
    <string>UnderAgainstProviderWinsome</string>
    <key>packIdleGladValidator</key>
    <string>WiseGloriousCreateOver</string>
    <key>amongBasinPlayful</key>
    <string>ShellMoorRemove</string>
</dict>
</plist>
