<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>providerQuick</key>
    <string>EncodeAboveWrite</string>
    <key>runSerializerSoft</key>
    <string>AccelerateListOnBeyondExact</string>
    <key>submitBaseJovialMelody</key>
    <string>ThickInLock</string>
</dict>
</plist>
