<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>headerStackWithout</key>
    <string>HolisticRapidsDisplayHoldMajor</string>
    <key>acrossCareful</key>
    <string>InsertPlanetTrackReservoir</string>
    <key>analyzeFilter</key>
    <string>ProcessProcess</string>
    <key>baseBound</key>
    <string>ThemeIndexBetweenTrain</string>
</dict>
</plist>
