<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>vastBuilderFetch</key>
    <string>ReceiveDivineLaunchTone</string>
    <key>sleekContainer</key>
    <string>DecoratorHandlerDrawState</string>
    <key>wholeJustList</key>
    <string>RecordBindFile</string>
    <key>handlerTo</key>
    <string>DownCalmBehind</string>
    <key>instanceRareAlong</key>
    <string>ThroughTransformableInfinity</string>
    <key>dawnHeaderBuildFriendly</key>
    <string>UpdateVerseFrom</string>
</dict>
</plist>
