<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>selectOwnerMobileIn</key>
    <string>CoolDownMap</string>
    <key>pacificOptionWithin</key>
    <string>UpAlongsideFlukeSet</string>
    <key>thenWithout</key>
    <string>UntilAuthenticDeviceYear</string>
    <key>addTrendHarmlessPool</key>
    <string>TargetSelectWellHandsome</string>
    <key>alongsideViable</key>
    <string>SaverImmenseJunctionView</string>
</dict>
</plist>
