<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>freshHideUnity</key>
    <string>AcceptSendSaveLoad</string>
    <key>coordinatorTo</key>
    <string>BeneathWorthGeneric</string>
    <key>viableBlend</key>
    <string>OriginTargetLastingBegin</string>
    <key>referenceTeamIdleUnder</key>
    <string>FindCleanBehind</string>
</dict>
</plist>
