<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>findHaven</key>
    <string>PetalContextIdeal</string>
    <key>transformableStandDefined</key>
    <string>AfterFromTriumphPlush</string>
    <key>petalGrowingFactory</key>
    <string>TargetNearBuildKindred</string>
    <key>agileViewDecoratorBuild</key>
    <string>ReferenceParseImportQuality</string>
    <key>knackGrandProxy</key>
    <string>TulipHardyGatewayCalculate</string>
    <key>sandCancelFilter</key>
    <string>TempleControlInterpreter</string>
    <key>ownerBegin</key>
    <string>KnackPhoenixRareCrossMarsh</string>
    <key>stateDrawMessageAdaptive</key>
    <string>CoordinatorSaverCrispGood</string>
</dict>
</plist>
