<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>textZestful</key>
    <string>ReadTableBuild</string>
    <key>targetOnNatural</key>
    <string>StackApplyIvoryResume</string>
    <key>compatibleSaveFreshFocused</key>
    <string>AudioBackupParse</string>
</dict>
</plist>
