<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>readySerializerOff</key>
    <string>KeenHarmonyFlukeCreateMap</string>
    <key>journeyOutside</key>
    <string>SendWaitModifyWatch</string>
    <key>proxyRadiantBadgeMove</key>
    <string>SignalKnownWealth</string>
</dict>
</plist>
